@import "./style/root.scss";
@import "./style/animation.scss";
@import "./style/header.scss";
@import "./style/footer.scss";
@import "./style/banner.scss";
@import "./style/promotion.scss";
@import "./style/conversion.scss";
@import "./style/faq.scss";
@import "./style/button.scss";

* {
	margin: 0;
	padding: 0;
	color: white;
	background-color: transparent;
	outline: none;
	list-style: none;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	font-family: "Noto Sans JP", sans-serif;
}

main {
	position: relative;
	z-index: 0;
}

.font-roboto {
	font-family: "Roboto", sans-serif;
}

.font-noto {
	font-family: "Noto Sans JP", sans-serif;
}
