@import "./style/root.scss";
@import "./style/animation.scss";
@import "./style/button.scss";
@import "./style/modal.scss";
@import "./style/header.scss";
@import "./style/banner.scss";
@import "./style/promotion.scss";
@import "./style/form.scss";
@import "./style/service.scss";
@import "./style/conversion.scss";
@import "./style/intro-point.scss";
@import "./style/intro-scene.scss";
@import "./style/feature.scss";
@import "./style/simulation.scss";
@import "./style/select.scss";
@import "./style/response.scss";
@import "./style/campaign.scss";
@import "./style/step.scss";
@import "./style/faq.scss";
@import "./style/swiper.scss";
@import "./style/footer.scss";

* {
	margin: 0;
	padding: 0;
	color: white;
	outline: none;
	list-style: none;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
}

button {
	background-color: transparent;
}

body {
	font-family: "Noto Sans JP", sans-serif;
	overflow-x: hidden;
}

main {
	position: relative;
	z-index: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.font-roboto {
	font-family: "Roboto", sans-serif;
}

.font-noto {
	font-family: "Noto Sans JP", sans-serif;
}

.font-italic {
	font-style: italic;
}

.text-red-100 {
	color: var(--red-100);
}

.text-black {
	color: black;
}

.text-neutral-200 {
	color: var(--neutral-200);
}

.text-blue-100 {
	color: var(--blue-100);
}

.font-medium {
	font-weight: 500;
}

.font-bold {
	font-weight: 700;
}

.font-extra-bold {
	font-weight: 800;
}

.font-black {
	font-weight: 900;
}

.text-gradient-blue {
	display: inline-block;
	color: transparent;
	background: linear-gradient(to right, #2c6fff 0%, #372cff 50%, #2ca7ff 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.overflow-hidden {
	overflow: hidden;
}

.scroll-top-button {
	position: fixed;
	bottom: 302px;
	right: 16px;
	z-index: 5;
	display: none;
	cursor: pointer;
	transition: 0.2s;

	img {
		width: 48px;
		height: 48px;
	}

	&:hover {
		transform: scale(1.2);
	}
}
