:root {
  --blue-100: #2c6fff;
  --red-100: #ec4765;
  --dark-100: #0f172a;
  --neutral-100: #ffffff1a;
  --neutral-200: #999999;
  --neutral-300: #ffffff33;
  --neutral-400: #eeeeee;
}

@keyframes fadeUpScale {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
}
header .header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1366px;
  padding: 16px 16px 0;
}
header .header-wrapper .header-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
header .header-wrapper .header-info img {
  width: 160px;
  height: 31px;
}
header .header-wrapper .header-info p {
  font-size: 10px;
  line-height: 12px;
  color: black;
}
header .header-wrapper .header-button {
  display: flex;
  gap: 8px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 31px;
  width: 100%;
  height: 327px;
  background-color: var(--dark-100);
}
.footer .footer-general {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.footer .footer-general p {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: white;
}
.footer .footer-general .footer-general__redirect {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer .footer-general .footer-general__redirect p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: white;
}
.footer .footer-general .footer-general__redirect img {
  width: 11px;
  height: 8px;
}
.footer .footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  color: white;
}
.footer .footer-rule {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 57px;
  border-top: 1px solid var(--neutral-100);
  border-bottom: 1px solid var(--neutral-100);
}
.footer .footer-rule a {
  font-size: 12px;
  line-height: 15px;
  color: white;
}
.footer .footer-copyright {
  font-size: 12px;
  line-height: 14px;
  color: var(--neutral-200);
}

.banner {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 488px;
}
.banner .banner-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.banner .banner-wrapper {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 688fr 243fr;
  gap: 42px;
  width: 100%;
  max-width: 1014px;
  height: 100%;
  padding-right: 41px;
}
.banner .banner-wrapper .banner-content {
  margin-top: 101px;
}
.banner .banner-wrapper .banner-content .banner-slogan {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 502px;
  height: 48px;
  margin-bottom: 22px;
  margin-left: 16px;
}
.banner .banner-wrapper .banner-content .banner-slogan img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.banner .banner-wrapper .banner-content .banner-slogan p {
  position: relative;
  z-index: 1;
  font-size: 20px;
  line-height: 15px;
  font-weight: 700;
  color: var(--blue-100);
  letter-spacing: 2px;
}
.banner .banner-wrapper .banner-content .banner-promotion {
  width: 100%;
  max-width: 636px;
  margin-bottom: 45px;
  margin-left: 6px;
  aspect-ratio: 636/146;
}
.banner .banner-wrapper .banner-content .banner-feature {
  display: grid;
  grid-template-columns: 264fr 185fr 207fr;
  gap: 16px;
  width: 100%;
}
.banner .banner-wrapper .banner-content .banner-feature .banner-feature__item {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 48px;
  padding: 0 16px;
  background-color: white;
  border-radius: 4px;
}
.banner .banner-wrapper .banner-content .banner-feature .banner-feature__item img {
  width: 16px;
  height: 16px;
}
.banner .banner-wrapper .banner-content .banner-feature .banner-feature__item .banner-feature__details-one,
.banner .banner-wrapper .banner-content .banner-feature .banner-feature__item .banner-feature__details-two,
.banner .banner-wrapper .banner-content .banner-feature .banner-feature__item .banner-feature__details-three {
  display: flex;
  align-items: center;
}
.banner .banner-wrapper .banner-content .banner-feature .banner-feature__item .banner-feature__details-one p,
.banner .banner-wrapper .banner-content .banner-feature .banner-feature__item .banner-feature__details-two p,
.banner .banner-wrapper .banner-content .banner-feature .banner-feature__item .banner-feature__details-three p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: black;
}
.banner .banner-wrapper .banner-content .banner-feature .banner-feature__item .banner-feature__details-one span {
  font-size: 28px;
  line-height: 28px;
  font-weight: 800;
  font-style: italic;
  color: var(--red-100);
}
.banner .banner-wrapper .banner-content .banner-feature .banner-feature__item .banner-feature__details-two p,
.banner .banner-wrapper .banner-content .banner-feature .banner-feature__item .banner-feature__details-three p {
  letter-spacing: -1px;
}
.banner .banner-wrapper .banner-content .banner-feature .banner-feature__item .banner-feature__details-two span,
.banner .banner-wrapper .banner-content .banner-feature .banner-feature__item .banner-feature__details-three span {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: var(--red-100);
}
.banner .banner-wrapper .banner-content .banner-feature .banner-feature__item .banner-feature__details-two .number,
.banner .banner-wrapper .banner-content .banner-feature .banner-feature__item .banner-feature__details-three .number {
  margin-bottom: 5px;
  font-size: 10px;
  line-height: 12px;
}
.banner .banner-wrapper .banner-icon {
  width: 100%;
  margin-top: 132px;
  aspect-ratio: 243/267;
}

.promotion {
  width: 100%;
}
.promotion .promotion-detail {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 72px;
  background: linear-gradient(90deg, #2c6fff 0%, #372cff 50%, #2ca7ff 100%);
}
.promotion .promotion-detail .promotion-detail__wrapper {
  position: relative;
  width: 100%;
  max-width: 1204px;
  height: 100%;
  background-color: red;
}
.promotion .promotion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px 0;
  background: rgba(0, 0, 0, 0.05);
}
.promotion .promotion-content .promotion-content__wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 1226px;
  padding: 0 10px;
}
.promotion .promotion-content .promotion-content__wrapper div {
  display: flex;
  gap: 13px;
}
.promotion .promotion-content .promotion-content__wrapper div span {
  margin-top: 1px;
  font-size: 10px;
  line-height: 9px;
  color: black;
}
.promotion .promotion-content .promotion-content__wrapper div p {
  font-size: 12px;
  line-height: 12px;
  color: black;
}

.conversion {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 417px;
  padding: 0 10px;
}
.conversion .conversion-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.conversion .conversion-wrapper {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
  width: 100%;
  max-width: 1206px;
}
.conversion .conversion-wrapper .conversion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.conversion .conversion-wrapper .conversion-content .conversion-content__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
}
.conversion .conversion-wrapper .conversion-content .conversion-content__title span {
  width: 27px;
  height: 2px;
  background-color: white;
}
.conversion .conversion-wrapper .conversion-content .conversion-content__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
}
.conversion .conversion-wrapper .conversion-content .conversion-content__content .content-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 174px;
  background-color: var(--neutral-300);
  border-radius: 16px;
}
.conversion .conversion-wrapper .conversion-content .conversion-content__content .content-item img {
  width: 48px;
  height: 48px;
}
.conversion .conversion-wrapper .conversion-content .conversion-content__content .content-item .content-item__title {
  font-size: 16px;
  line-height: 12px;
  font-weight: 700;
}
.conversion .conversion-wrapper .conversion-content .conversion-content__content .content-item div {
  display: flex;
  align-items: flex-end;
}
.conversion .conversion-wrapper .conversion-content .conversion-content__content .content-item div .text {
  margin-right: 8px;
  font-size: 24px;
  line-height: 18px;
  font-weight: 700;
}
.conversion .conversion-wrapper .conversion-content .conversion-content__content .content-item div .text.no-margin {
  margin: 0;
}
.conversion .conversion-wrapper .conversion-content .conversion-content__content .content-item div .number {
  font-size: 48px;
  line-height: 34px;
  font-weight: 700;
}
.conversion .conversion-wrapper .conversion-content .conversion-content__content .content-item div .order {
  margin-bottom: 22px;
  font-size: 12px;
  line-height: 9px;
}
.conversion .conversion-wrapper .conversion-content .conversion-content__detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.conversion .conversion-wrapper .conversion-content .conversion-content__detail div {
  display: flex;
  gap: 10px;
}
.conversion .conversion-wrapper .conversion-content .conversion-content__detail div span {
  min-width: 26px;
  font-size: 10px;
  line-height: 9px;
}
.conversion .conversion-wrapper .conversion-content .conversion-content__detail div p {
  font-size: 12px;
  line-height: 12px;
}
.conversion .conversion-wrapper .conversion-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 321px;
  background-color: white;
  border-radius: 16px;
}
.conversion .conversion-wrapper .conversion-cta .conversion-cta__title {
  position: relative;
  padding-bottom: 4px;
  margin-bottom: 25px;
}
.conversion .conversion-wrapper .conversion-cta .conversion-cta__title .content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-end;
}
.conversion .conversion-wrapper .conversion-cta .conversion-cta__title .content p {
  color: black;
}
.conversion .conversion-wrapper .conversion-cta .conversion-cta__title .content .small {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}
.conversion .conversion-wrapper .conversion-cta .conversion-cta__title .content .medium {
  font-size: 32px;
  line-height: 43px;
  font-weight: 700;
}
.conversion .conversion-wrapper .conversion-cta .conversion-cta__title .content .big {
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;
}
.conversion .conversion-wrapper .conversion-cta .conversion-cta__title .content .symbol {
  margin-bottom: 2px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}
.conversion .conversion-wrapper .conversion-cta .conversion-cta__title .content .number {
  margin-bottom: 5px;
  font-size: 48px;
  line-height: 34px;
  font-weight: 700;
  font-style: italic;
  color: var(--red-100);
}
.conversion .conversion-wrapper .conversion-cta .conversion-cta__title .layer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 16px;
  background-color: var(--red-100);
  opacity: 0.2;
}
.conversion .conversion-wrapper .conversion-cta .button-secondary {
  gap: 11px;
  height: 80px;
  padding: 0 23px 0 34px;
  margin-bottom: 16px;
  font-size: 29px;
  line-height: 21px;
  letter-spacing: -1.4px;
}
.conversion .conversion-wrapper .conversion-cta .button-secondary .icon {
  width: 25px;
  height: 25px;
}
.conversion .conversion-wrapper .conversion-cta .button-secondary .arrow-wrapper {
  width: 15px;
  height: 11px;
}
.conversion .conversion-wrapper .conversion-cta .button-secondary .arrow-wrapper .arrow-group img {
  width: 15px;
  height: 11px;
}
.conversion .conversion-wrapper .conversion-cta .button-secondary:hover {
  padding: 0 27px 0 38px;
}
.conversion .conversion-wrapper .conversion-cta .button-secondary:hover .arrow-wrapper .arrow-group {
  transform: translateX(19px);
}
.conversion .conversion-wrapper .conversion-cta .button-primary {
  font-size: 18px;
  line-height: 13px;
  letter-spacing: -0.1px;
}

.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  width: 100%;
  padding: 80px 0;
  background: linear-gradient(180deg, rgba(200, 226, 255, 0.2) 0%, rgba(200, 226, 255, 0.4) 100%);
}
.faq .faq-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.faq .faq-title p {
  font-size: 48px;
  line-height: 35px;
  font-weight: 700;
  color: black;
}
.faq .faq-title span {
  width: 27px;
  height: 2px;
  background-color: var(--blue-100);
}
.faq .faq-des {
  font-size: 18px;
  line-height: 13px;
  font-weight: 700;
  color: black;
}
.faq .faq-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
  max-width: 1046px;
}
.faq .faq-content .faq-content__header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  max-width: 840px;
  height: 44px;
  background-color: white;
  border-radius: 999px;
}
.faq .faq-content .faq-content__header button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 12px;
  font-weight: 700;
  color: var(--blue-100);
  border-radius: 999px;
  cursor: pointer;
}
.faq .faq-content .faq-content__header button.active {
  color: white;
  background: linear-gradient(90deg, #2c6fff 0%, #372cff 50%, #2ca7ff 100%);
}
.faq .faq-content .faq-content__body {
  display: none;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.faq .faq-content .faq-content__body .faq-item {
  padding: 31px;
  border-radius: 16px;
  background-color: white;
  border: 1px solid white;
  box-shadow: 0px 0px 16px 0px rgba(43, 60, 170, 0.1);
  transition: border 0.2s;
}
.faq .faq-content .faq-content__body .faq-item .faq-item__header {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.faq .faq-content .faq-content__body .faq-item .faq-item__header .icon {
  width: 20px;
  height: 20px;
  margin-right: 16px;
  pointer-events: none;
}
.faq .faq-content .faq-content__body .faq-item .faq-item__header p {
  flex-grow: 1;
  margin-right: 32px;
  font-size: 16px;
  line-height: 12px;
  font-weight: 700;
  color: black;
  text-align: left;
  pointer-events: none;
}
.faq .faq-content .faq-content__body .faq-item .faq-item__header .arrow {
  width: 12px;
  height: 16px;
  pointer-events: none;
  transition: transform 0.2s;
}
.faq .faq-content .faq-content__body .faq-item .faq-item__body {
  height: 0;
  overflow: hidden;
  transition: height 0.2s;
}
.faq .faq-content .faq-content__body .faq-item .faq-item__body .faq-item__body-wrapper {
  display: flex;
  gap: 16px;
  padding-top: 23px;
  margin-top: 24px;
  border-top: 1px solid var(--neutral-400);
}
.faq .faq-content .faq-content__body .faq-item .faq-item__body .faq-item__body-wrapper img {
  width: 20px;
  height: 20px;
}
.faq .faq-content .faq-content__body .faq-item .faq-item__body .faq-item__body-wrapper p {
  font-size: 16px;
  line-height: 23px;
  color: black;
}
.faq .faq-content .faq-content__body .faq-item.active {
  border: 1px solid var(--blue-100);
}
.faq .faq-content .faq-content__body .faq-item.active .faq-item__header .arrow {
  transform: rotateX(180deg);
}
.faq .faq-content[data-type=bank] .faq-content__body.faq-content__body-bank {
  display: flex;
}
.faq .faq-content[data-type=mobile] .faq-content__body.faq-content__body-mobile {
  display: flex;
}
.faq .faq-content[data-type=info] .faq-content__body.faq-content__body-info {
  display: flex;
}

.button-primary,
.button-secondary {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 56px;
  padding: 0 16px 0 24px;
  border-radius: 999px;
  background-color: red;
  font-size: 16px;
  line-height: 11px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  transition: padding 0.2s;
}
.button-primary .icon,
.button-secondary .icon {
  width: 18px;
  height: 18px;
}
.button-primary .arrow-wrapper,
.button-secondary .arrow-wrapper {
  position: relative;
  width: 11px;
  height: 8px;
  overflow: hidden;
}
.button-primary .arrow-wrapper .arrow-group,
.button-secondary .arrow-wrapper .arrow-group {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 4px;
  width: max-content;
  transition: transform 0.3s;
}
.button-primary .arrow-wrapper .arrow-group img,
.button-secondary .arrow-wrapper .arrow-group img {
  width: 11px;
  height: 8px;
}
.button-primary:hover,
.button-secondary:hover {
  padding: 18px 20px 18px 28px;
}
.button-primary:hover .arrow-wrapper .arrow-group,
.button-secondary:hover .arrow-wrapper .arrow-group {
  transform: translateX(15px);
}

.button-primary {
  background: linear-gradient(90deg, #2c6fff 0%, #4dcdff 100%);
  border: 1px solid var(--blue-100);
}

.button-secondary {
  letter-spacing: -0.7px;
  background: linear-gradient(90deg, #ec4765 0%, #f2b16f 100%);
  border: 1px solid var(--red-100);
}

* {
  margin: 0;
  padding: 0;
  color: white;
  background-color: transparent;
  outline: none;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

main {
  position: relative;
  z-index: 0;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-noto {
  font-family: "Noto Sans JP", sans-serif;
}

/*# sourceMappingURL=style.css.map */
