.banner {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 488px;

	.banner-bg {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		width: 100%;
		height: 100%;
	}

	.banner-wrapper {
		position: relative;
		z-index: 1;
		display: grid;
		grid-template-columns: 688fr 243fr;
		gap: 42px;
		width: 100%;
		max-width: 1014px;
		height: 100%;
		padding-right: 41px;

		.banner-content {
			position: relative;
			width: 0px;
			height: 100%;
			margin-top: 101px;
			opacity: 0;
			overflow: hidden;

			.banner-general {
				position: absolute;
				top: 0;
				left: 0;
				width: 688px;

				.banner-slogan {
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					width: 502px;
					height: 48px;
					margin-bottom: 22px;
					margin-left: 10px;

					img {
						position: absolute;
						top: 0;
						left: 0;
						z-index: 0;
						width: 100%;
						height: 100%;
					}

					p {
						position: relative;
						z-index: 1;
						font-size: 20px;
						line-height: 15px;
						letter-spacing: 1.5px;
					}
				}

				.banner-promotion {
					position: relative;
					margin-bottom: 40px;
					margin-left: 6px;

					.banner-promotion__title {
						display: flex;
						gap: 111px;
						margin-bottom: 11px;
						margin-left: 3px;

						p {
							font-size: 16px;
							line-height: 12px;
							text-shadow:
								-0.5px -0.5px 0 #fff,
								0.5px -0.5px 0 #fff,
								-0.5px 0.5px 0 #fff,
								0.5px 0.5px 0 #fff;
						}
					}

					.banner-promotion__description-one {
						margin-bottom: 7px;
						background: linear-gradient(
							to right,
							#2c6fff 0%,
							#372cff 50%,
							#2ca7ff 100%
						);
						-webkit-background-clip: text;
						background-clip: text;
						color: transparent;
						letter-spacing: -1px;

						span {
							color: transparent;
						}

						.small {
							font-size: 42px;
							line-height: 50px;
						}

						.medium {
							font-size: 52px;
							line-height: 38px;
						}

						.large {
							font-size: 60px;
							line-height: 44px;
						}

						.larger {
							font-size: 68px;
							line-height: 48px;
						}
					}

					.banner-promotion__description-two {
						font-size: 61px;
						line-height: 61px;
						background: linear-gradient(
							to right,
							#2c6fff 0%,
							#372cff 50%,
							#2ca7ff 100%
						);
						-webkit-background-clip: text;
						background-clip: text;
						color: transparent;
						display: inline-block;
						letter-spacing: -3px;
					}
				}

				.banner-feature {
					display: grid;
					grid-template-columns: 264fr 185fr 207fr;
					gap: 16px;
					width: 100%;

					.banner-feature__item {
						display: flex;
						align-items: center;
						gap: 8px;
						width: 100%;
						height: 48px;
						padding: 0 16px;
						background-color: white;
						border-radius: 4px;

						img {
							width: 16px;
							height: 16px;
						}

						.banner-feature__details-one,
						.banner-feature__details-two,
						.banner-feature__details-three {
							display: flex;
							align-items: center;

							p {
								font-size: 16px;
								line-height: 19px;
							}
						}

						.banner-feature__details-one {
							span {
								font-size: 28px;
								line-height: 28px;
							}
						}

						.banner-feature__details-two,
						.banner-feature__details-three {
							p {
								letter-spacing: -1px;
							}

							span {
								font-size: 18px;
								line-height: 18px;
							}

							.number {
								margin-bottom: 5px;
								font-size: 10px;
								line-height: 12px;
							}
						}
					}
				}
			}
		}

		.banner-icon {
			width: 100%;
			margin-top: 132px;
			aspect-ratio: 243/267;
		}
	}

	&.show {
		.banner-wrapper {
			.banner-content {
				width: 688px;
				opacity: 1;
				animation: slideAndDrop 2s forwards;
			}
		}
	}
}
