.button-primary,
.button-secondary {
	position: relative;
	display: flex;
	align-items: center;
	gap: 8px;
	height: 56px;
	padding: 0 16px 0 24px;
	border-radius: 999px;
	cursor: pointer;
	transition: 0.2s;

	.icon {
		position: relative;
		z-index: 1;
		width: 18px;
		height: 18px;
	}

	.header-button__title {
		display: flex;
		align-items: center;
		gap: 8px;

		p {
			font-size: 16px;
			line-height: 11px;
			font-weight: 700;
			color: white;
		}
	}

	.arrow-wrapper {
		position: relative;
		z-index: 1;
		width: 11px;
		height: 8px;
		overflow: hidden;

		.arrow-group {
			position: absolute;
			top: 0;
			right: 0;
			display: flex;
			gap: 4px;
			width: max-content;
			transition: transform 0.3s;

			img {
				width: 11px;
				height: 8px;
			}
		}
	}

	p {
		position: relative;
		z-index: 1;
		font-family: "Roboto", sans-serif;
	}

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		border-radius: 999px;
		transition: 0.3s;
		box-sizing: border-box;
	}

	&:hover {
		.arrow-wrapper {
			.arrow-group {
				transform: translateX(15px);
			}
		}

		&::after {
			width: calc(100% + 8px);
			height: calc(100% + 8px);
		}
	}
}

.button-outline {
	position: relative;
	display: flex;
	align-items: center;
	gap: 8px;
	height: 44px;
	padding: 0 32px;
	border-radius: 999px;
	font-size: 16px;
	line-height: 12px;
	font-weight: 700;
	cursor: pointer;

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 0;
		width: 100%;
		height: 100%;
		background-color: white;
		border: 1px solid var(--blue-100);
		border-radius: 999px;
		transition: 0.3s;
	}

	p {
		position: relative;
		z-index: 1;
		color: var(--blue-100);
		transition: 0.2s;
	}

	.arrow-wrapper {
		position: relative;
		z-index: 1;
		width: 16px;
		height: 12px;
		overflow: hidden;

		.arrow-group {
			position: absolute;
			top: 0;
			right: 0;
			display: flex;
			gap: 4px;
			width: max-content;
			transition: transform 0.3s;

			img {
				width: 16px;
				height: 12px;
			}
		}
	}

	&:hover {
		&::after {
			width: calc(100% + 8px);
			height: calc(100% + 8px);
			background: var(--blue-100);
		}

		p {
			color: white;
		}

		.arrow-wrapper {
			.arrow-group {
				transform: translateX(20px);
			}
		}
	}
}

.button-primary {
	&::after {
		background: linear-gradient(90deg, #2c6fff 0%, #4dcdff 100%);
		border: 1px solid var(--blue-100);
		box-shadow: 0px 0px 8px 0px rgba(1, 103, 187, 0.4);
	}
}

.button-secondary {
	letter-spacing: -0.04em;

	&::after {
		background: linear-gradient(90deg, #ec4765 0%, #f2b16f 100%);
		border: 1px solid var(--red-100);
		box-shadow: 0px 0px 8px 0px rgba(236, 71, 101, 0.4);
	}
}

.button-secondary {
	&.cta-button-secondary {
		gap: 11px;
		width: 100%;
		max-width: 426px;
		height: 80px;
		padding: 0 23px 0 34px;
		margin-bottom: 16px;

		&::after {
			box-shadow: 0px 0px 11.43px 0px rgba(236, 71, 101, 0.4);
		}

		.icon {
			width: 25px;
			height: 25px;
		}

		p {
			font-size: 29px;
			line-height: 21px;
			letter-spacing: -0.04em;
		}

		.arrow-wrapper {
			width: 15px;
			height: 11px;

			.arrow-group {
				img {
					width: 15px;
					height: 11px;
				}

				.arrow-mobile {
					display: none;
				}
			}
		}

		&:hover {
			.arrow-wrapper {
				.arrow-group {
					transform: translateX(19px);
				}
			}
		}

		@media (max-width: 874px) {
			justify-content: center;
			align-items: center;
			gap: 6px;
			width: 100%;
			max-width: 100%;
			height: max-content;
			padding: 21px 26px 21px 33px;
			margin-bottom: 11px;

			p {
				font-size: 20px;
				line-height: 15px;
				font-weight: 700;
			}

			.icon {
				width: 17px;
				height: 17px;
			}

			.arrow-wrapper {
				width: 7px;
				height: 13px;

				.arrow-group {
					img {
						width: 7px;
						height: 13px;
					}

					.arrow {
						display: none;
					}

					.arrow-mobile {
						display: block;
					}
				}
			}

			&:hover {
				.arrow-wrapper {
					.arrow-group {
						transform: translateX(calc(50% + 2px));
					}
				}
			}
		}
	}
}

.button-primary {
	&.cta-button-primary {
		font-size: 18px;
		line-height: 13px;

		.arrow-mobile {
			display: none;
		}

		@media (max-width: 874px) {
			justify-content: center;
			width: 100%;
			max-width: 100%;
			height: max-content;
			padding: 14px 0;

			p {
				font-size: 14px;
				line-height: 10px;
			}

			.icon {
				width: 14px;
				height: 14px;
			}

			.arrow-wrapper {
				width: 7px;
				height: 13px;

				.arrow-group {
					img {
						width: 7px;
						height: 13px;
					}

					.arrow {
						display: none;
					}

					.arrow-mobile {
						display: block;
					}
				}
			}

			&:hover {
				.arrow-wrapper {
					.arrow-group {
						transform: translateX(calc(50% + 2px));
					}
				}
			}
		}
	}
}

.scroll-top-button {
	position: sticky;
	bottom: 16px;
	right: 16px;
	z-index: 4;
	display: none;
	width: 48px;
	height: 48px;
	margin-left: auto;
	cursor: pointer;
	transition: 0.2s;

	img {
		width: 100%;
		height: 100%;
	}

	&:hover {
		transform: scale(1.1);
	}

	@media (max-width: 874px) {
		bottom: 15px;
		right: 15px;
	}
}
