.button-primary,
.button-secondary {
	display: flex;
	align-items: center;
	gap: 8px;
	height: 56px;
	padding: 0 16px 0 24px;
	border-radius: 999px;
	background-color: red;
	font-size: 16px;
	line-height: 11px;
	font-weight: 700;
	color: white;
	cursor: pointer;
	transition: padding 0.2s;

	.icon {
		width: 18px;
		height: 18px;
	}

	.arrow-wrapper {
		position: relative;
		width: 11px;
		height: 8px;
		overflow: hidden;

		.arrow-group {
			position: absolute;
			top: 0;
			right: 0;
			display: flex;
			gap: 4px;
			width: max-content;
			transition: transform 0.3s;

			img {
				width: 11px;
				height: 8px;
			}
		}
	}

	&:hover {
		padding: 18px 20px 18px 28px;

		.arrow-wrapper {
			.arrow-group {
				transform: translateX(15px);
			}
		}
	}
}

.button-primary {
	background: linear-gradient(90deg, #2c6fff 0%, #4dcdff 100%);
	border: 1px solid var(--blue-100);
}

.button-secondary {
	letter-spacing: -0.7px;
	background: linear-gradient(90deg, #ec4765 0%, #f2b16f 100%);
	border: 1px solid var(--red-100);
}
