.campaign {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 48px;
	width: 100%;
	max-width: 2000px;
	padding: 80px 0;
	background: var(--blue-400);
	overflow: hidden;

	.campaign-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 48px;

		.campaign-title {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 22px;
			opacity: 0;

			p {
				font-size: 48px;
				line-height: 35px;
			}

			span {
				width: 27px;
				height: 2px;
				background-color: var(--blue-100);
			}
		}

		.campaign-des {
			font-size: 18px;
			line-height: 13px;
			opacity: 0;
		}
	}

	.campaign-swiper {
		.swiper-wrapper {
			opacity: 0;

			.item {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 24px;
				padding: 24px;
				background-color: white;
				border-radius: 16px;

				.item-img {
					width: 100%;
					aspect-ratio: 352/209;
				}

				.button-outline {
					height: 36px;
					padding: 0 15px;

					p {
						font-size: 14px;
						line-height: 10px;
					}
				}
			}
		}

		&.campaign-swiper-show {
			.swiper-wrapper {
				opacity: 1;
			}
		}
	}

	// ANIMATION
	.campaign-header {
		&.show {
			.campaign-title {
				animation: fadeUpScale 0.3s linear forwards;
			}

			.campaign-des {
				animation: fadeUpScale 0.3s linear forwards;
				animation-delay: 0.15s;
			}
		}
	}

	.campaign-swiper {
		&.show {
			.swiper-wrapper {
				opacity: 1;

				.item {
					&:nth-child(4) {
						z-index: 5;
						animation: slideFromLeft1 0.3s linear forwards;
					}

					&:nth-child(5) {
						z-index: 4;
						animation: slideFromLeft2 0.4s linear forwards;
					}

					&:nth-child(6) {
						z-index: 3;
						animation: slideFromLeft3 0.5s linear forwards;
					}

					&:nth-child(7) {
						z-index: 2;
						animation: slideFromLeft4 0.6s linear forwards;
					}

					&:nth-child(8) {
						z-index: 1;
						animation: slideFromLeft5 0.7s linear forwards;
					}
				}
			}
		}
	}

	// RESPONSIVE
	@media (max-width: 1024px) {
		gap: 24px;
		padding: 40px 0;

		.campaign-header {
			gap: 24px;

			.campaign-title {
				gap: 12px;

				p {
					font-size: clamp(24px, 6.4vw, 48px);
					line-height: clamp(18px, 4.6vw, 35px);
				}
			}

			.campaign-des {
				max-width: 62%;
				font-size: clamp(13px, 3.4vw, 26px);
				line-height: clamp(15px, 3.8vw, 29px);
			}
		}

		.campaign-swiper {
			.swiper-wrapper {
				.item {
					gap: 18px;
					padding: 18px;

					.item-img {
						width: 100%;
						aspect-ratio: 528/313;
					}

					.button-outline {
						gap: 12px;
						height: max-content;
						padding: 18px 24px;

						p {
							font-size: clamp(12px, 3.2vw, 24px);
							line-height: clamp(9px, 2.2vw, 17px);
						}
					}
				}
			}

			.swiper-button {
				margin-top: 12px;

				.swiper-navigation,
				.swiper-arrow {
					width: 48px !important;
					height: 48px !important;
				}

				.swiper-pagination {
					.swiper-pagination-bullet {
						width: 12px;
						height: 12px;
					}
				}
			}
		}
	}
}
