.conversion {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 417px;
	padding: 0 10px;

	.conversion-background {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		width: 100%;
		height: 100%;
	}

	.conversion-wrapper {
		position: relative;
		z-index: 1;
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		gap: 40px;
		width: 100%;
		max-width: 1206px;

		.conversion-content {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 24px;

			.conversion-content__title {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 16px;
				font-size: 24px;
				line-height: 18px;
				font-weight: 700;

				span {
					width: 27px;
					height: 2px;
					background-color: white;
				}
			}

			.conversion-content__content {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 10px;
				width: 100%;

				.content-item {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 16px;
					height: 174px;
					background-color: var(--neutral-300);
					border-radius: 16px;

					img {
						width: 48px;
						height: 48px;
					}

					.content-item__title {
						font-size: 16px;
						line-height: 12px;
						font-weight: 700;
					}

					div {
						display: flex;
						align-items: flex-end;

						.text {
							margin-right: 8px;
							font-size: 24px;
							line-height: 18px;
							font-weight: 700;

							&.no-margin {
								margin: 0;
							}
						}

						.number {
							font-size: 48px;
							line-height: 34px;
							font-weight: 700;
						}

						.order {
							margin-bottom: 22px;
							font-size: 12px;
							line-height: 9px;
						}
					}
				}
			}

			.conversion-content__detail {
				display: flex;
				flex-direction: column;
				gap: 10px;

				div {
					display: flex;
					gap: 10px;

					span {
						min-width: 26px;
						font-size: 10px;
						line-height: 9px;
					}

					p {
						font-size: 12px;
						line-height: 12px;
					}
				}
			}
		}

		.conversion-cta {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 321px;
			background-color: white;
			border-radius: 16px;

			.conversion-cta__title {
				position: relative;
				padding-bottom: 4px;
				margin-bottom: 25px;

				.content {
					position: relative;
					z-index: 1;
					display: flex;
					align-items: flex-end;

					p {
						color: black;
					}

					.small {
						margin-bottom: 4px;
						font-size: 24px;
						line-height: 29px;
						font-weight: 700;
					}

					.medium {
						font-size: 32px;
						line-height: 43px;
						font-weight: 700;
					}

					.big {
						font-size: 36px;
						line-height: 43px;
						font-weight: 700;
					}

					.symbol {
						margin-bottom: 2px;
						font-size: 36px;
						line-height: 36px;
						font-weight: 700;
					}

					.number {
						margin-bottom: 5px;
						font-size: 48px;
						line-height: 34px;
						font-weight: 700;
						font-style: italic;
						color: var(--red-100);
					}
				}

				.layer {
					position: absolute;
					bottom: 0;
					left: 0;
					z-index: 0;
					width: 100%;
					height: 16px;
					background-color: var(--red-100);
					opacity: 0.2;
				}
			}

			.button-secondary {
				gap: 11px;
				height: 80px;
				padding: 0 23px 0 34px;
				margin-bottom: 16px;
				font-size: 29px;
				line-height: 21px;
				letter-spacing: -1.4px;

				.icon {
					width: 25px;
					height: 25px;
				}

				.arrow-wrapper {
					width: 15px;
					height: 11px;

					.arrow-group {
						img {
							width: 15px;
							height: 11px;
						}
					}
				}

				&:hover {
					padding: 0 27px 0 38px;

					.arrow-wrapper {
						.arrow-group {
							transform: translateX(19px);
						}
					}
				}
			}

			.button-primary {
				font-size: 18px;
				line-height: 13px;
				letter-spacing: -0.1px;
			}
		}
	}
}
