.conversion {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 2000px;
	height: 417px;
	padding: 0 10px;

	.conversion-background {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		width: 100%;
		height: 100%;
	}

	.conversion-wrapper {
		position: relative;
		z-index: 1;
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		gap: 40px;
		width: 100%;
		max-width: 1206px;

		.conversion-content {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 24px;
			opacity: 0;

			.conversion-content__title {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 16px;

				p {
					font-size: 24px;
					line-height: 18px;
				}

				span {
					width: 27px;
					height: 2px;
					background-color: white;
				}
			}

			.conversion-content__content {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 10px;
				width: 100%;

				.content-item {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 16px;
					height: 174px;
					background-color: var(--neutral-300);
					border-radius: 16px;
					text-shadow: 0px 0px 8px rgba(8, 12, 36, 0.6);

					img {
						width: 48px;
						height: 48px;
						filter: drop-shadow(0px 0px 8px rgba(8, 12, 36, 0.6));
					}

					.content-item__title {
						font-size: 16px;
						line-height: 12px;
					}

					div {
						display: flex;
						align-items: flex-end;

						.text {
							margin-right: 8px;
							font-size: 24px;
							line-height: 18px;

							&.no-margin {
								margin: 0;
							}
						}

						.number {
							font-size: 48px;
							line-height: 34px;
						}

						.order {
							margin-bottom: 22px;
							font-size: 12px;
							line-height: 9px;
						}
					}
				}
			}

			.conversion-content__detail {
				display: flex;
				flex-direction: column;
				gap: 10px;

				div {
					display: flex;
					gap: 10px;

					span {
						min-width: 26px;
						font-size: 10px;
						line-height: 9px;
					}

					p {
						font-size: 12px;
						line-height: 12px;
					}
				}
			}
		}

		.conversion-cta {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 321px;
			background-color: white;
			border-radius: 16px;
			opacity: 0;

			.conversion-cta__title {
				position: relative;
				padding-bottom: 4px;
				margin-bottom: 25px;

				.content {
					position: relative;
					z-index: 1;
					display: flex;
					align-items: flex-end;

					.small {
						margin-bottom: 4px;
						font-size: 24px;
						line-height: 29px;
					}

					.medium {
						font-size: 32px;
						line-height: 43px;
					}

					.big {
						font-size: 36px;
						line-height: 43px;
					}

					.symbol {
						margin-bottom: 3px;
						font-size: 36px;
						line-height: 36px;
					}

					.number {
						margin-bottom: 5px;
						font-size: 48px;
						line-height: 34px;
					}
				}

				.layer {
					position: absolute;
					bottom: 0;
					left: 0;
					z-index: 0;
					width: 100%;
					height: 16px;
					background-color: var(--red-100);
					opacity: 0.2;
				}
			}
		}
	}

	&.conversion-last {
		align-items: flex-start;
		height: 393px;
		padding-top: 48px;

		.conversion-background {
			height: 417px;
		}
	}

	// ANIMATION {
	&.show {
		.conversion-wrapper {
			.conversion-content {
				animation: fadeUpScale 0.3s linear forwards;
			}

			.conversion-cta {
				animation: fadeUpScale 0.3s linear forwards;
				animation-delay: 0.15s;
			}
		}
	}

	// RESPONSIVE
	@media (max-width: 1024px) {
		height: max-content;
		padding: 19px 15px;

		.conversion-wrapper {
			grid-template-columns: 1fr;
			gap: 20px;

			.conversion-content {
				gap: 12px;

				.conversion-content__title {
					gap: 8px;

					p {
						font-size: clamp(12px, 3.2vw, 24px);
						line-height: clamp(9px, 2.4vw, 18px);
					}
				}

				.conversion-content__content {
					gap: 6px;

					.content-item {
						gap: 9px;
						height: max-content;
						padding: 14px 0;

						img {
							width: clamp(28px, 7.4vw, 56px);
							height: clamp(28px, 7.4vw, 56px);
						}

						.content-item__title {
							font-size: clamp(12px, 3.2vw, 24px);
							line-height: clamp(9px, 2.4vw, 18px);
						}

						div {
							.text {
								margin-right: 8px;
								font-size: clamp(14px, 3.7vw, 28px);
								line-height: clamp(12px, 2.8vw, 21px);
							}

							.number {
								font-size: clamp(28px, 7.4vw, 56px);
								line-height: clamp(20px, 5.3vw, 40px);
							}

							.order {
								margin-bottom: 10%;
								font-size: clamp(7px, 1.8vw, 14px);
								line-height: clamp(5px, 1.3vw, 10px);
							}
						}
					}
				}

				.conversion-content__detail {
					gap: 10px;

					div {
						gap: 5px;

						span {
							min-width: 26px;
							font-size: clamp(10px, 2.6vw, 20px);
							line-height: clamp(8px, 2vw, 15px);
						}

						p {
							font-size: clamp(10px, 2.6vw, 20px);
							line-height: clamp(10px, 2.6vw, 20px);
						}
					}
				}
			}

			.conversion-cta {
				height: max-content;
				padding: 18px 10px;

				.conversion-cta__title {
					margin-bottom: 16px;

					.content {
						.small {
							margin-bottom: 4px;
							font-size: clamp(12px, 3.2vw, 24px);
							line-height: clamp(15px, 3.8vw, 29px);
						}

						.medium {
							font-size: clamp(16px, 4.2vw, 32px);
							line-height: clamp(22px, 5.7vw, 43px);
						}

						.big {
							font-size: clamp(18px, 4.8vw, 36px);
							line-height: clamp(22px, 5.7vw, 43px);
						}

						.symbol {
							margin-bottom: 3px;
							font-size: clamp(18px, 4.8vw, 36px);
							line-height: clamp(18px, 4.8vw, 36px);
						}

						.number {
							margin-bottom: 5px;
							font-size: clamp(24px, 6.4vw, 48px);
							line-height: clamp(17px, 4.5vw, 34px);
						}
					}
				}
			}
		}

		&.conversion-last {
			align-items: flex-start;
			height: max-content;
			padding: 37px 15px 13px 15px;

			.conversion-background {
				height: calc(100% + 24px);
			}
		}
	}
}
