.faq {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 48px;
	width: 100%;
	max-width: 2000px;
	padding: 80px 0;
	background: linear-gradient(
		180deg,
		rgba(200, 226, 255, 0.2) 0%,
		rgba(200, 226, 255, 0.4) 100%
	);

	.faq-title {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 24px;
		opacity: 0;

		p {
			font-size: 48px;
			line-height: 35px;
		}

		span {
			width: 27px;
			height: 2px;
			background-color: var(--blue-100);
		}
	}

	.faq-des {
		font-size: 18px;
		line-height: 13px;
		opacity: 0;
	}

	.faq-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 32px;
		width: 100%;
		max-width: 1066px;
		padding: 0 10px;
		opacity: 0;

		.faq-content__header {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			width: 100%;
			max-width: 840px;
			height: 44px;
			background-color: white;
			border-radius: 999px;

			button {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				font-size: 16px;
				line-height: 12px;
				border-radius: 999px;
				cursor: pointer;

				&.active {
					color: white;
					background: linear-gradient(
						90deg,
						#2c6fff 0%,
						#372cff 50%,
						#2ca7ff 100%
					);
				}
			}
		}

		.faq-content__body {
			display: none;
			flex-direction: column;
			gap: 16px;
			width: 100%;

			.faq-item {
				padding: 31px;
				border-radius: 16px;
				background-color: white;
				border: 1px solid white;
				box-shadow: 0px 0px 16px 0px rgba(43, 60, 170, 0.1);
				transition: border 0.2s;

				.faq-item__header {
					display: flex;
					align-items: center;
					width: 100%;
					cursor: pointer;

					.icon {
						width: 20px;
						height: 20px;
						margin-right: 16px;
						pointer-events: none;
					}

					p {
						flex-grow: 1;
						margin-right: 32px;
						font-size: 16px;
						line-height: 12px;
						text-align: left;
						pointer-events: none;
					}

					.arrow {
						width: 12px;
						height: 16px;
						pointer-events: none;
						transition: transform 0.2s;
					}
				}

				.faq-item__body {
					height: 0;
					overflow: hidden;
					transition: height 0.2s;

					.faq-item__body-wrapper {
						display: flex;
						gap: 16px;
						padding-top: 23px;
						margin-top: 24px;
						border-top: 1px solid var(--neutral-400);

						img {
							width: 20px;
							height: 20px;
						}

						p {
							font-size: 16px;
							line-height: 23px;
						}
					}
				}

				&.active {
					border: 1px solid var(--blue-100);

					.faq-item__header {
						.arrow {
							transform: rotateX(180deg);
						}
					}
				}
			}
		}

		&[data-type="bank"] {
			.faq-content__body {
				&.faq-content__body-bank {
					display: flex;
				}
			}
		}

		&[data-type="mobile"] {
			.faq-content__body {
				&.faq-content__body-mobile {
					display: flex;
				}
			}
		}

		&[data-type="info"] {
			.faq-content__body {
				&.faq-content__body-info {
					display: flex;
				}
			}
		}
	}

	// ANIMATION
	.faq-title,
	.faq-des {
		&.show {
			opacity: 1;
			animation: fadeUpScale 1.6s cubic-bezier(0.25, 1, 0.5, 1) forwards;
		}
	}

	.faq-content {
		&.show {
			opacity: 1;
			animation: fadeUpScale 1.6s cubic-bezier(0.25, 1, 0.5, 1) forwards;
		}
	}
}
