.faq {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 48px;
	width: 100%;
	max-width: 2000px;
	padding: 80px 0;
	background: linear-gradient(
		180deg,
		rgba(200, 226, 255, 0.2) 0%,
		rgba(200, 226, 255, 0.4) 100%
	);

	.faq-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 48px;

		.faq-title {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 24px;
			opacity: 0;

			p {
				font-size: 48px;
				line-height: 35px;
			}

			span {
				width: 27px;
				height: 2px;
				background-color: var(--blue-100);
			}
		}

		.faq-des {
			font-size: 18px;
			line-height: 13px;
			opacity: 0;
		}
	}

	.faq-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 32px;
		width: 100%;
		max-width: 1066px;
		padding: 0 10px;

		.faq-content__header {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			width: 100%;
			max-width: 840px;
			height: 44px;
			background-color: white;
			border-radius: 999px;
			opacity: 0;

			button {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				font-size: 16px;
				line-height: 12px;
				border-radius: 999px;
				cursor: pointer;

				.arrow {
					position: absolute;
					top: 50%;
					right: 16px;
					transform: translateY(-50%);
					opacity: 0;
				}

				.arrow-unactive {
					width: 6px;
					height: 11px;
				}

				.arrow-active {
					display: none;
					width: 11px;
					height: 6px;
				}

				&.active {
					color: white;
					background: linear-gradient(
						90deg,
						#2c6fff 0%,
						#372cff 50%,
						#2ca7ff 100%
					);

					.arrow-unactive {
						display: none;
					}

					.arrow-active {
						display: block;
					}
				}
			}
		}

		.faq-content__body {
			display: none;
			flex-direction: column;
			gap: 16px;
			width: 100%;
			opacity: 0;

			.faq-item {
				border-radius: 16px;
				background-color: white;
				border: 1px solid white;
				box-shadow: 0px 0px 16px 0px rgba(43, 60, 170, 0.1);
				transition: border 0.1s;

				.faq-item__header {
					display: flex;
					align-items: center;
					width: 100%;
					padding: 31px;
					cursor: pointer;
					transition: padding 0.1s;

					.icon {
						width: 20px;
						height: 20px;
						margin-bottom: auto;
						margin-right: 16px;
						pointer-events: none;
					}

					p {
						flex-grow: 1;
						margin-right: 32px;
						font-size: 16px;
						line-height: 12px;
						text-align: left;
						pointer-events: none;
					}

					.arrow {
						width: 12px;
						height: 16px;
						pointer-events: none;
						transition: transform 0.2s;
					}
				}

				.faq-item__body {
					height: 0;
					padding: 0 31px;
					overflow: hidden;
					transition: height 0.1s;

					.faq-item__body-wrapper {
						display: flex;
						gap: 16px;
						padding: 23px 0 31px 0;
						border-top: 1px solid var(--neutral-400);

						img {
							transform: translateY(2px);
							width: 20px;
							height: 20px;
						}

						p {
							font-size: 16px;
							line-height: 23px;
						}
					}
				}

				&.active {
					border: 1px solid var(--blue-100);

					.faq-item__header {
						padding-bottom: 23px;

						.arrow {
							transform: rotateX(180deg);
						}
					}
				}
			}
		}

		&[data-type="bank"] {
			.faq-content__body {
				&.faq-content__body-bank {
					display: flex;
				}
			}
		}

		&[data-type="mobile"] {
			.faq-content__body {
				&.faq-content__body-mobile {
					display: flex;
				}
			}
		}

		&[data-type="info"] {
			.faq-content__body {
				&.faq-content__body-info {
					display: flex;
				}
			}
		}
	}

	// ANIMATION
	.faq-header {
		&.show {
			.faq-title {
				animation: fadeUpScale 0.3s linear forwards;
			}

			.faq-des {
				animation: fadeUpScale 0.3s linear forwards;
				animation-delay: 0.15s;
			}
		}
	}

	.faq-content {
		&.show {
			.faq-content__header {
				animation: fadeUpScale 0.3s linear forwards;
			}

			.faq-content__body {
				animation: fadeUpScale 0.3s linear forwards;
				animation-delay: 0.15s;
			}
		}

		&.show-slower {
			.faq-content__body {
				animation: fadeUpScale 0.3s linear forwards !important;
			}
		}
	}

	// RESPONSIVE
	@media (max-width: 1024px) {
		gap: 24px;
		padding: 40px 15px;

		.faq-header {
			gap: 12px;

			.faq-title {
				p {
					font-size: clamp(24px, 6.4vw, 48px);
					line-height: clamp(18px, 4.6vw, 35px);
				}
			}

			.faq-des {
				font-size: clamp(13px, 3.4vw, 26px);
				line-height: clamp(10px, 2.5vw, 19px);
			}
		}

		.faq-content {
			gap: 16px;
			padding: 0;

			.faq-content__header {
				display: flex;
				flex-direction: column;
				gap: 8px;
				width: 100%;
				height: max-content;
				background-color: transparent;

				button {
					padding: 9px 0;
					height: max-content;
					font-size: clamp(13px, 3.4vw, 26px);
					line-height: clamp(10px, 2.5vw, 19px);
					background-color: white;

					.arrow {
						opacity: 1;
					}
				}
			}

			.faq-content__body {
				gap: 8px;

				.faq-item {
					border-radius: 24px;

					.faq-item__header {
						padding: 24px;

						.icon {
							width: clamp(15px, 4vw, 30px);
							height: clamp(15px, 4vw, 30px);
							margin-right: 12px;
						}

						p {
							transform: translateY(1px);
							margin-right: 24px;
							font-size: clamp(13px, 3.4vw, 26px);
							line-height: clamp(13px, 3.4vw, 26px);
						}

						.arrow {
							transform: translateY(1px);
							width: clamp(9px, 2.4vw, 18px);
							height: clamp(12px, 3.2vw, 24px);
						}
					}

					.faq-item__body {
						padding: 0 24px;

						.faq-item__body-wrapper {
							gap: 12px;
							padding: 18px 0 24px 0;

							img {
								transform: translateY(25%);
								width: clamp(15px, 4vw, 30px);
								height: clamp(15px, 4vw, 30px);
							}

							p {
								font-size: clamp(13px, 3.4vw, 26px);
								line-height: clamp(21px, 5.6vw, 42px);
							}
						}
					}

					&.active {
						.faq-item__header {
							padding-bottom: 18px;
						}
					}
				}
			}
		}
	}
}
