.feature {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 2000px;
	padding: 80px 10px;
	background-color: white;
	overflow: hidden;

	.feature-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 24px;
		margin-bottom: 99px;
		opacity: 0;

		.feature-header__title {
			position: relative;
			display: flex;
			justify-content: center;
			width: 382px;
			height: 61px;
			padding-top: 17px;

			p {
				position: relative;
				z-index: 1;
				display: inline-flex;
				height: max-content;
				font-size: 20px;
				line-height: 24px;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		.feature-header__detail {
			display: flex;
			gap: 32px;

			img {
				width: 155px;
				height: 144px;
			}

			.feature-header__content {
				height: max-content;

				p,
				span {
					position: relative;
					z-index: 1;
					font-size: 64px;
					line-height: 64px;
					color: black;
				}

				.text-mobile {
					display: none;
				}

				span {
					&::after {
						content: "";
						position: absolute;
						bottom: 0;
						left: 0;
						transform: translateY(-4px);
						z-index: -1;
						width: 100%;
						height: 16px;
						background-color: var(--red-100);
					}
				}

				p:first-child {
					transform: translateY(-6px);
				}

				p:last-child {
					transform: translateY(6px);
				}
			}
		}
	}

	.feature-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 32px;
		width: 100%;
		max-width: 886px;
		padding: 0 10px;
		margin-bottom: 60px;
		opacity: 0;

		.content {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;

			p,
			span {
				font-size: 20px;
				line-height: 26px;
				font-weight: 700;
				color: black;
			}

			sup {
				color: black;
			}

			span {
				color: var(--red-100);
			}

			img {
				position: absolute;
				top: 50%;
				left: 100%;
				transform: translateY(-50%) translateX(-4vw);
				width: 16.7vw;
				max-width: 228px;
			}
		}

		.tag {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 20px;
			width: 100%;

			.item {
				display: flex;
				align-items: center;
				gap: 7px;
				width: 100%;
				height: 57px;
				padding: 0 14px;
				border-radius: 999px;
				box-shadow: 0px 0px 10px 0px #00000040;

				img {
					width: 31px;
					height: 21px;
				}

				.small {
					font-size: 22px;
					line-height: 26px;
					font-weight: 700;
				}

				.medium {
					font-size: 36px;
					line-height: 26px;
					font-weight: 700;
					letter-spacing: -0.07em;
				}

				sup {
					transform: translateY(6px);
					color: black;
				}

				div {
					display: flex;
					margin-top: 5px;
				}

				.line {
					position: relative;

					&::after {
						content: "";
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 12px;
						background-color: var(--red-100);
						opacity: 0.2;
					}
				}
			}
		}

		.list {
			display: flex;
			flex-direction: column;
			gap: 10px;
			width: 100%;

			div {
				display: flex;
				gap: 8px;

				p {
					font-size: 12px;
					line-height: 9px;
					color: black;
				}
			}
		}
	}

	.feature-footer {
		display: flex;
		flex-direction: column;
		gap: 16px;
		width: 100%;
		max-width: 1066px;
		padding: 0 10px;

		div {
			display: flex;
			gap: 13px;

			p {
				font-size: 12px;
				line-height: 14px;
			}

			a {
				color: black;

				text-decoration: underline;
			}
		}
	}

	// ANIMATION
	.feature-header {
		&.show {
			opacity: 1;
			animation: fadeUpScale 0.3s linear forwards;
		}
	}

	.feature-body {
		&.show {
			opacity: 1;
			animation: fadeUpScale 0.3s linear forwards;
		}
	}

	// RESPONSIVE
	@media (max-width: 1200px) {
		.feature-header {
			.feature-header__detail {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 32px;

				.feature-header__content {
					p {
						font-size: 55px;
					}
				}
			}
		}

		.feature-body {
			.content {
				img {
					transform: translateY(-50%) translateX(-3vw);
					width: 100px;
				}
			}
		}
	}

	@media (max-width: 874px) {
		padding: 40px 0 25px 0;

		.feature-header {
			gap: 12px;
			padding: 0 28px;
			margin-bottom: 32px;

			.feature-header__title {
				width: max-content;
				height: max-content;
				padding: 14px 19px 22px 19px;

				p {
					font-size: 15px;
					line-height: 11px;
				}
			}

			.feature-header__detail {
				gap: 16px;

				img {
					width: 78px;
					height: 72px;
				}

				.feature-header__content {
					display: flex;
					flex-direction: column;
					align-items: center;

					p,
					span {
						width: max-content;
						font-size: 26px;
						line-height: 28px;
					}

					span {
						&::after {
							transform: translateY(-2px);
							height: 7px;
						}
					}

					.text-mobile {
						display: block;
					}

					.text-pc {
						display: none;
					}
				}
			}
		}

		.feature-body {
			gap: 16px;

			.content {
				p,
				span {
					font-size: 12px;
					line-height: 16px;
					text-align: center;
				}

				sup {
					font-size: 10px;
				}

				img {
					top: 0;
					left: auto;
					right: 0;
					width: 50px;
				}
			}

			.tag {
				display: flex;
				flex-direction: column;
				align-items: center;

				.item {
					max-width: 370px;
					height: 57px;
					padding: 0 7px;

					img {
						width: 31px;
						height: 21px;
					}

					.small {
						font-size: 16px;
						line-height: 20px;
						font-weight: 700;
					}

					.medium {
						font-size: 30px;
						line-height: 20px;
						font-weight: 700;
						letter-spacing: -0.07em;
					}

					sup {
						margin-left: 2px;
						font-size: 10px;
					}

					.line {
						position: relative;

						&::after {
							height: 10px;
						}
					}
				}
			}

			.list {
				div {
					p {
						font-size: 10px;
						line-height: 11px;
					}
				}
			}
		}

		.feature-footer {
			div {
				p {
					font-size: 10px;
					line-height: 11px;
				}
			}
		}
	}
}
