.feature {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 2000px;
	padding: 80px 10px;
	background-color: white;
	overflow: hidden;

	.feature-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 24px;
		margin-bottom: 64px;
		opacity: 0;

		.feature-header__title {
			position: relative;
			display: flex;
			justify-content: center;
			width: 382px;
			height: 61px;
			padding-top: 17px;

			p {
				position: relative;
				z-index: 1;
				display: inline-flex;
				height: max-content;
				font-size: 20px;
				line-height: 24px;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		.feature-header__detail {
			display: flex;
			gap: 32px;

			img {
				width: 155px;
				height: 144px;
			}

			.feature-header__content {
				height: max-content;

				p,
				span {
					position: relative;
					z-index: 1;
					font-size: 64px;
					line-height: 64px;
					color: black;
				}

				.text-mobile {
					display: none;
				}

				span {
					&::after {
						content: "";
						position: absolute;
						bottom: 0;
						left: 0;
						transform: translateY(-4px);
						z-index: -1;
						width: 100%;
						height: 16px;
						background-color: var(--red-100);
					}
				}

				p:first-child {
					transform: translateY(-6px);
				}

				p:last-child {
					transform: translateY(6px);
				}
			}
		}
	}

	.feature-body {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		gap: 32px;
		width: 100%;
		max-width: 1206px;
		margin-bottom: 80px;

		.feature-body__image {
			width: 100%;
			aspect-ratio: 587/630;
			opacity: 0;

			img {
				width: 100%;
				height: 100%;
			}
		}

		.feature-body__content {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 64px;
			opacity: 0;

			.content-header {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 16px;

				.title-wrap {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 16px;

					.title {
						font-size: 18px;
						line-height: 13px;
					}

					.sub-title {
						font-size: 36px;
						line-height: 26px;
					}
				}

				.detail-wrap {
					display: flex;
					align-items: flex-end;

					.detail {
						position: relative;
						display: flex;
						align-items: flex-end;

						.small {
							transform: translateY(10px);
							font-size: 48px;
							line-height: 68px;
						}

						.medium {
							font-size: 96px;
							line-height: 68px;
						}

						span {
							position: absolute;
							bottom: 0;
							left: 0;
							transform: translateY(8px);
							width: 100%;
							height: 16px;
							background-color: var(--red-100);
							opacity: 0.2;
						}
					}

					.order {
						// transform: translateY(5px);
						display: flex;
						flex-direction: column;
						align-items: flex-end;
						gap: 22px;

						.small {
							margin-right: 12px;
							font-size: 14px;
							line-height: 10px;
						}

						.medium {
							font-size: 36px;
							line-height: 36px;
						}
					}
				}
			}

			.content-body {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 32px;

				div {
					display: flex;
					flex-direction: column;
					align-items: center;

					p {
						font-size: 20px;
						line-height: 24px;
					}

					p:first-child {
						transform: translateY(-5px);
					}

					p:last-child {
						transform: translateY(5px);
					}
				}

				p {
					font-size: 20px;
					line-height: 10px;
				}
			}

			.content-body--mobile {
				display: none;
			}
		}
	}

	.feature-footer {
		display: flex;
		gap: 14px;
		font-size: 12px;
		line-height: 9px;
	}

	// ANIMATION
	.feature-header {
		&.show {
			opacity: 1;
			animation: fadeUpScale 0.3s linear forwards;
		}
	}

	.feature-body {
		&.show {
			.feature-body__image {
				opacity: 1;
				animation: fadeUpScale 0.3s linear forwards;
			}

			.feature-body__content {
				opacity: 1;
				animation: fadeUpScale 0.3s linear forwards;
			}
		}
	}

	// RESPONSIVE
	@media (max-width: 1200px) {
		.feature-header {
			.feature-header__detail {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 32px;
			}
		}

		.feature-body {
			grid-template-columns: 1fr;
		}
	}

	@media (max-width: 1024px) {
		padding: 40px 0 25px 0;

		.feature-header {
			gap: 12px;
			padding: 0 28px;
			margin-bottom: 32px;

			.feature-header__title {
				width: max-content;
				height: max-content;
				padding: 14px 19px 22px 19px;

				p {
					font-size: clamp(15px, 4vw, 30px);
					line-height: clamp(11px, 2.9vw, 22px);
				}
			}

			.feature-header__detail {
				gap: 16px;

				img {
					width: 78px;
					height: 72px;
				}

				.feature-header__content {
					display: flex;
					flex-direction: column;
					align-items: center;

					p,
					span {
						width: max-content;
						font-size: clamp(26px, 6.8vw, 51px);
						line-height: clamp(28px, 7.3vw, 55px);
					}

					span {
						&::after {
							transform: translateY(-2px);
							height: 7px;
						}
					}

					.text-mobile {
						display: block;
					}

					.text-pc {
						display: none;
					}
				}
			}
		}

		.feature-body {
			display: flex;
			flex-direction: column;
			gap: 16px;
			padding: 0 15px;
			margin-bottom: 15px;

			.feature-body__image {
				aspect-ratio: 345/352;
			}

			.feature-body__content {
				gap: 25px;
				width: 100%;
				padding: 0 11px;

				.content-header {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 8px;

					.title-wrap {
						flex-direction: row;
						align-items: flex-start;
						gap: 5px;

						.title {
							font-size: clamp(13px, 3.4vw, 26px);
							line-height: clamp(10px, 2.5vw, 19px);
						}

						.sub-title {
							font-size: clamp(18px, 4.8vw, 36px);
							line-height: clamp(13px, 3.4vw, 26px);
						}
					}

					.detail-wrap {
						.detail {
							.small {
								font-size: clamp(24px, 6.4vw, 48px);
								line-height: clamp(34px, 9vw, 68px);
							}

							.medium {
								font-size: clamp(48px, 12.8vw, 96px);
								line-height: clamp(34px, 9vw, 68px);
							}
						}

						.order {
							gap: 0;

							.medium {
								font-size: clamp(18px, 4.8vw, 36px);
								line-height: clamp(18px, 4.8vw, 36px);
							}
						}
					}
				}

				.content-body {
					display: none;
				}

				.content-body--mobile {
					display: flex;
					flex-direction: column;
					gap: 15px;

					p {
						font-size: clamp(13px, 3.4vw, 26px);
						line-height: clamp(15px, 3.8vw, 29px);
					}
				}
			}
		}

		.feature-footer {
			gap: 5px;
			padding: 0 26px;
			font-size: clamp(10px, 2.6vw, 20px);
			line-height: clamp(11px, 2.9vw, 22px);

			p {
				color: var(--neutral-700);
			}
		}
	}
}
