.feature {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 2000px;
	padding: 80px 10px;
	background-color: white;

	.feature-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 24px;
		margin-bottom: 64px;
		opacity: 0;

		.feature-header__title {
			position: relative;
			display: flex;
			justify-content: center;
			width: 382px;
			height: 61px;
			padding-top: 17px;

			p {
				position: relative;
				z-index: 1;
				display: inline-flex;
				height: max-content;
				font-size: 20px;
				line-height: 24px;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		.feature-header__detail {
			display: flex;
			gap: 32px;

			img {
				width: 155px;
				height: 144px;
			}

			.feature-header__content {
				height: max-content;

				.content {
					display: flex;

					p {
						position: relative;
						z-index: 1;
						font-size: 64px;
						line-height: 64px;
					}

					div {
						position: relative;

						span {
							position: absolute;
							bottom: 0;
							left: 0;
							transform: translateY(9px);
							z-index: 0;
							width: 100%;
							height: 16px;
							background-color: var(--red-100);
						}
					}

					&:first-child {
						transform: translateY(-6px);
					}

					&:last-child {
						transform: translateY(6px);
					}
				}
			}
		}
	}

	.feature-body {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		gap: 32px;
		width: 100%;
		max-width: 1206px;
		margin-bottom: 80px;

		img {
			width: 100%;
			aspect-ratio: 587/630;
			opacity: 0;
		}

		.feature-body__content {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 64px;
			opacity: 0;

			.content-header {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 16px;

				.title {
					font-size: 18px;
					line-height: 13px;
				}

				.sub-title {
					font-size: 36px;
					line-height: 26px;
				}

				.detail-wrap {
					display: flex;
					align-items: flex-end;

					.detail {
						position: relative;
						display: flex;
						align-items: flex-end;

						.small {
							transform: translateY(10px);
							font-size: 48px;
							line-height: 68px;
						}

						.medium {
							font-size: 96px;
							line-height: 68px;
						}

						span {
							position: absolute;
							bottom: 0;
							left: 0;
							transform: translateY(8px);
							width: 100%;
							height: 16px;
							background-color: var(--red-100);
							opacity: 0.2;
						}
					}

					.order {
						// transform: translateY(5px);
						display: flex;
						flex-direction: column;
						align-items: flex-end;
						gap: 22px;

						.small {
							margin-right: 12px;
							font-size: 14px;
							line-height: 10px;
						}

						.medium {
							font-size: 36px;
							line-height: 36px;
						}
					}
				}
			}

			.content-body {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 32px;

				div {
					display: flex;
					flex-direction: column;
					align-items: center;

					p {
						font-size: 20px;
						line-height: 24px;
					}

					p:first-child {
						transform: translateY(-5px);
					}

					p:last-child {
						transform: translateY(5px);
					}
				}

				p {
					font-size: 20px;
					line-height: 10px;
				}
			}
		}
	}

	.feature-footer {
		display: flex;
		gap: 14px;
		font-size: 12px;
		line-height: 9px;
	}

	// ANIMATION
	.feature-header {
		&.show {
			opacity: 1;
			animation: fadeUpScale 1.6s linear forwards;
		}
	}

	.feature-body {
		&.show {
			img {
				opacity: 1;
				animation: fadeUpScale 1.6s linear forwards;
			}

			.feature-body__content {
				opacity: 1;
				animation: fadeUpScale 1.6s linear forwards;
			}
		}
	}
}
