.footer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: 31px;
	width: 100%;
	height: 303px;
	padding-bottom: 48px;

	.footer-layer {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 0;
		width: 100%;
		height: 327px;
		background-color: var(--dark-100);
	}

	.footer-general {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;

		p {
			font-size: 24px;
			line-height: 18px;
		}

		.footer-general__redirect {
			display: flex;
			align-items: center;
			gap: 8px;

			p {
				font-size: 14px;
				line-height: 10px;
			}

			img {
				width: 11px;
				height: 8px;
			}
		}
	}

	.footer-contact {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 14px;
		line-height: 14px;

		p:first-child {
			transform: translateY(-3px);
		}
	}

	.footer-rule {
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 16px;
		width: 100%;
		height: 57px;
		border-top: 1px solid var(--neutral-100);
		border-bottom: 1px solid var(--neutral-100);

		a {
			font-size: 12px;
			line-height: 9px;
		}
	}

	.footer-copyright {
		position: relative;
		z-index: 1;
		font-size: 12px;
		line-height: 9px;
	}
}
