.footer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: 31px;
	width: 100%;
	height: max-content;
	padding: 24px 0 48px 0;

	.footer-layer {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 0;
		width: 100%;
		height: calc(100% + 24px);
		background-color: var(--dark-100);
	}

	.footer-general {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;

		p {
			font-size: 24px;
			line-height: 18px;
		}

		.footer-general__redirect {
			display: flex;
			align-items: center;
			gap: 8px;

			p {
				font-size: 14px;
				line-height: 10px;
			}

			img {
				width: 11px;
				height: 8px;
			}
		}
	}

	.footer-contact {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 14px;
		line-height: 14px;

		p:first-child {
			transform: translateY(-3px);
		}
	}

	.footer-rule {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 16px;
		width: 100%;
		padding: 24px 0;
		border-top: 1px solid var(--neutral-100);
		border-bottom: 1px solid var(--neutral-100);

		div {
			display: flex;
			align-items: center;
			gap: 16px;

			a {
				font-size: 12px;
				line-height: 9px;
			}
		}
	}

	.footer-copyright {
		position: relative;
		z-index: 1;
		font-size: 12px;
		line-height: 9px;
	}

	@media (max-width: 1024px) {
		gap: 16px;
		padding: 0 0 24px 0;

		.footer-general {
			position: relative;
			z-index: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 16px;

			p {
				font-size: clamp(12px, 3.2vw, 24px);
				line-height: clamp(9px, 2.4vw, 18px);
			}

			.footer-general__redirect {
				display: flex;
				align-items: center;
				gap: 8px;

				p {
					font-size: clamp(12px, 3.2vw, 24px);
					line-height: clamp(9px, 2.4vw, 18px);
				}

				img {
					width: 11px;
					height: 8px;
				}
			}
		}

		.footer-contact {
			font-size: clamp(10px, 2.6vw, 20px);
			line-height: clamp(10px, 2.6vw, 20px);

			p:first-child {
				transform: translateY(-3px);
			}
		}

		.footer-rule {
			gap: 13px;
			padding: 12px 0 12px 0;

			div {
				gap: 13px;

				a {
					font-size: clamp(12px, 3.2vw, 24px);
					line-height: clamp(9px, 2.4vw, 18px);
				}
			}
		}

		.footer-copyright {
			font-size: clamp(9px, 2.4vw, 18px);
			line-height: clamp(7px, 1.7vw, 13px);
			color: var(--neutral-200);
		}
	}
}
