.form {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px;
	height: 607px;
	padding: 0 10px;

	.form-title {
		display: flex;
		align-items: flex-end;

		p {
			font-size: 32px;
			line-height: 23px;
			font-weight: 700;
			color: black;
		}

		span {
			font-size: 56px;
			line-height: 40px;
			font-weight: 700;
			color: var(--blue-100);
		}

		img {
			transform: translateY(8px) translateX(-12px);
			width: 498px;
			height: 56px;
		}
	}

	.form-des {
		font-size: 20px;
		line-height: 15px;
		font-weight: 700;
		color: black;
	}

	.form-render {
		display: flex;
		justify-content: center;
		width: 100%;
		max-width: 1206px;
		padding: 24px;
		border-radius: 16px;
		background-color: var(--blue-100);

		div {
			width: 100%;
			height: 292px;
			padding: 16px;
			background-color: white;
			border-radius: 16px;
		}
	}

	.form-icon {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
	}
}
