.form {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px;
	width: 100%;
	padding: 64px 10px;

	.form-title {
		display: flex;
		align-items: flex-end;
		opacity: 0;

		p {
			font-size: 32px;
			line-height: 23px;
			font-weight: 700;
			color: black;
		}

		span {
			font-size: 56px;
			line-height: 40px;
			font-weight: 700;
			color: var(--blue-100);
		}

		img {
			transform: translateY(8px) translateX(-12px);
			width: 498px;
			height: 56px;
		}
	}

	.form-des {
		font-size: 20px;
		line-height: 15px;
		font-weight: 700;
		color: black;
		opacity: 0;
	}

	.form-render {
		display: flex;
		justify-content: center;
		width: 100%;
		max-width: 1206px;
		padding: 24px;
		border-radius: 16px;
		background-color: var(--blue-100);
		opacity: 0;

		div {
			width: 100%;
			padding: 16px;
			background-color: white;
			border-radius: 16px;
		}
	}

	.form-icon {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 0;
	}

	.form-arrow {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateY(-16px) translateX(-50%);
		z-index: 1;
		width: 12px;
		height: 48px;
	}

	// ANIMATION
	.form-title,
	.form-des,
	.form-render {
		&.show {
			opacity: 1;
			animation: fadeUpScale 1.6s cubic-bezier(0.25, 1, 0.5, 1) forwards;
		}
	}
}
