header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	justify-content: center;
	width: 100%;
	transition: 0.3s;

	.header-wrapper {
		display: flex;
		justify-content: space-between;
		width: 100%;
		max-width: 2000px;
		padding: 16px;

		.header-info {
			display: flex;
			flex-direction: column;
			gap: 8px;

			img {
				width: 160px;
				height: 31px;
				object-fit: cover;
			}

			p {
				font-size: 10px;
				line-height: 7px;
			}
		}

		.header-button {
			display: flex;
			gap: 8px;
		}

		.header-button--mobile {
			display: none;
			gap: 5px;

			a {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				gap: 10px;
				height: 100%;
				padding: 7px 10px 0 10px;
				border-radius: 0 0 10px 10px;

				.content {
					display: flex;
					align-items: center;
					gap: 5px;

					p {
						font-size: 12px;
						line-height: 9px;
						font-weight: 700;
						font-family: "Roboto", sans-serif;
					}

					img {
						width: 5px;
						height: 9px;
					}
				}
			}

			.button-primary--mobile {
				background: linear-gradient(90deg, #4ccaff 0%, #2d72ff 100%);
				border: 1px solid var(--blue-800);

				.icon {
					width: 22px;
					height: 22px;
				}
			}

			.button-secondary--mobile {
				background: linear-gradient(90deg, #ec4965 0%, #f2b06f 100%);
				border: 1px solid var(--red-200);

				.icon {
					width: 23px;
					height: 23px;
				}
			}
		}
	}

	&.header-scroll {
		background-color: rgba(255, 255, 255, 0.7);
	}

	@media (max-width: 1024px) {
		.header-wrapper {
			height: max-content;
			padding: 0 15px;

			.header-info {
				gap: 4px;
				margin-top: 10px;

				img {
					width: 140px;
					height: 25px;
				}

				p {
					font-size: 10px;
					line-height: 8px;
					font-weight: 500;
				}
			}

			.header-button {
				display: none;
			}

			.header-button--mobile {
				display: flex;
			}
		}
	}
}
