.promotion {
	width: 100%;

	.text-shadow {
		text-shadow:
			0 0 16px #00b7ff,
			0 0 16px #00b7ff;
	}

	.promotion-detail {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 72px;
		background: linear-gradient(90deg, #2c6fff 0%, #372cff 50%, #2ca7ff 100%);

		.promotion-detail__wrapper {
			position: relative;
			display: flex;
			align-items: center;
			width: 100%;
			max-width: 1204px;
			height: 100%;
			padding-left: 47px;
			padding-right: 42px;

			.promotion-detail__label {
				position: absolute;
				top: 0;
				left: 0;
				transform: translateY(-15px);
				width: 159px;
				height: 39px;
			}

			.promotion-detail__time {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 182px;
				height: 28px;
				margin-right: 12px;
				border: 1px solid white;

				p {
					font-size: 16px;
					line-height: 12px;
					font-weight: 700;
				}
			}

			.promotion-detail__content {
				display: flex;
				align-items: flex-end;
				flex-grow: 1;
				margin-left: 1px;
				font-weight: 700;

				.small {
					transform: translateY(1px);
					font-size: 22px;
					line-height: 22px;
				}

				.medium {
					transform: translateY(-2px);
					font-size: 30px;
					line-height: 22px;

					&.medium-space {
						margin-left: auto;
					}

					&.text-shadow {
						transform: translateY(-4px);
					}
				}

				.big {
					transform: translateY(6px);
					font-size: 32px;
					line-height: 34px;
				}

				.large {
					font-size: 34px;
					line-height: 25px;
				}

				.larger {
					transform: translateX(-5px);
					font-size: 48px;
					line-height: 34px;

					&.larger-letter-spacing {
						letter-spacing: -0.07em;
					}
				}
			}

			.promotion-detail__img {
				position: relative;
				width: 203px;
				height: 100%;

				.promotion-detail__img-one {
					position: absolute;
					bottom: 0;
					left: 0;
					transform: translateY(1px);
					width: 100%;
					height: 116px;
				}

				.promotion-detail__img-two {
					position: absolute;
					bottom: 100%;
					right: 0;
					transform: translateY(-41px);
					width: 68px;
					height: 48px;
					filter: drop-shadow(0px 0px 8px #2c6fff)
						drop-shadow(0px 0px 20px rgba(0, 255, 191, 0.8));
				}
			}
		}
	}

	.promotion-detail--mobile {
		display: none;
	}

	.promotion-content {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 16px 0;
		background: rgba(0, 0, 0, 0.05);

		.promotion-content__wrapper {
			display: flex;
			flex-direction: column;
			gap: 8px;
			width: 100%;
			max-width: 1226px;
			padding: 0 10px;

			div {
				display: flex;
				gap: 13px;

				span {
					margin-top: 1px;
					font-size: 12px;
					line-height: 9px;
					color: black;
				}

				p {
					font-size: 12px;
					line-height: 12px;
					color: black;
				}
			}
		}
	}

	// RESPONSIVE
	@media (max-width: 1240px) {
		.promotion-detail {
			.promotion-detail__wrapper {
				padding-right: 20px;

				.promotion-detail__time {
					width: 140px;
					margin-right: 6px;

					p {
						font-size: 13px;
					}
				}

				.promotion-detail__content {
					justify-content: center;

					.small {
						transform: translateY(1px);
						font-size: 10px;
						line-height: 22px;
					}

					.medium {
						transform: translateY(-2px);
						font-size: 18px;

						&.medium-space {
							margin: 0;
						}
					}

					.big {
						transform: translateY(6px);
						font-size: 20px;
						line-height: 34px;
					}

					.large {
						font-size: 22px;
						line-height: 25px;
					}

					.larger {
						transform: translateX(-5px);
						font-size: 36px;
						line-height: 34px;

						&.larger-letter-spacing {
							letter-spacing: -0.07em;
						}
					}
				}
			}
		}
	}

	@media (max-width: 874px) {
		.promotion-detail {
			display: none;
		}

		.promotion-detail--mobile {
			position: relative;
			display: block;
			width: 100%;
			padding: 19px 8px 12px 14px;

			.promotion-detail--mobile-wrapper {
				position: relative;
				z-index: 1;
				display: flex;
				flex-direction: column;
				width: max-content;
				max-width: 100%;
				height: max-content;
				margin: 0 auto;

				.promotion-detail__time--mobile {
					display: flex;
					gap: 8px;
					margin-bottom: 10px;

					.promotion-detail__label {
						width: 102px;
						height: 32px;
					}

					.promotion-detail__time {
						height: max-content;
						padding: 7px 5px;
						border: 1px solid white;

						p {
							font-size: 12px;
							line-height: 9px;
							font-weight: 700;
						}
					}
				}

				.promotion-detail__content--mobile {
					display: flex;
					justify-content: space-between;
					gap: 5px;
					margin-bottom: 6px;

					.content {
						display: flex;
						flex-direction: column;
						gap: 7px;
						font-weight: 700;
						letter-spacing: -0.02em;

						.small {
							font-size: 19px;
							line-height: 14px;
						}

						.medium {
							font-size: 19px;
							line-height: 14px;
						}

						.big {
							font-size: 23px;
							line-height: 17px;
						}

						.large {
							transform: translateX(-5%);
							display: inline-block;
							font-size: 32px;
							line-height: 23px;
							letter-spacing: -0.08em;
						}
					}

					.promotion-detail__img {
						position: relative;
						width: 110px;
						height: 62px;

						.promotion-detail__img-one {
							position: relative;
							z-index: 1;
							width: 100%;
							height: 100%;
						}

						.promotion-detail__img-two {
							position: absolute;
							bottom: 100%;
							right: 0;
							z-index: 0;
							width: 47px;
							height: 33px;
						}
					}
				}

				.promotion-detail__button {
					width: 100%;
					padding-right: 4px;

					a {
						display: flex;
						justify-content: center;
						align-items: center;
						gap: 10px;
						width: 100%;
						padding: 14px 0 15px 0;
						background: linear-gradient(90deg, #ec4765 0%, #f2b16f 100%);
						border: 2px solid var(--red-100);
						border-radius: 999px;

						div {
							display: flex;
							flex-direction: column;
							gap: 8px;

							span {
								font-size: 13px;
								line-height: 10px;
								font-style: 700;
								letter-spacing: -0.04em;
							}

							p {
								font-size: 20px;
								line-height: 15px;
								font-style: 700;
								letter-spacing: -0.04em;
							}
						}

						.icon {
							width: 26px;
							height: 26px;
						}

						.arrow {
							width: 7px;
							height: 13px;
						}
					}
				}
			}

			.promotion-detail--layer {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 0;
				width: 100vw;
				height: 100%;
				background: linear-gradient(
					90deg,
					#2c6fff 0%,
					#372cff 50%,
					#2ca7ff 100%
				);
			}
		}

		.promotion-content {
			padding: 20px 0;

			.promotion-content__wrapper {
				gap: 8px;
				padding: 0 15px;

				div {
					gap: 5px;

					span,
					p {
						font-size: 10px;
						line-height: 12px;
						color: var(--neutral-700);
					}
				}
			}
		}
	}
}
