.promotion {
	width: 100%;

	.promotion-detail {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 72px;
		background: linear-gradient(90deg, #2c6fff 0%, #372cff 50%, #2ca7ff 100%);

		.promotion-detail__wrapper {
			position: relative;
			width: 100%;
			max-width: 1204px;
			height: 100%;
			background-color: red;
		}
	}

	.promotion-content {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 16px 0;
		background: rgba(0, 0, 0, 0.05);

		.promotion-content__wrapper {
			display: flex;
			flex-direction: column;
			gap: 8px;
			width: 100%;
			max-width: 1226px;
			padding: 0 10px;

			div {
				display: flex;
				gap: 13px;

				span {
					margin-top: 1px;
					font-size: 10px;
					line-height: 9px;
					color: black;
				}

				p {
					font-size: 12px;
					line-height: 12px;
					color: black;
				}
			}
		}
	}
}
