.response {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 48px;
	width: 100%;
	max-width: 2000px;
	padding: 80px 0;
	overflow: hidden;

	.response-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 48px;
		width: 100%;

		.response-title {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 22px;
			opacity: 0;

			p {
				font-size: 48px;
				line-height: 35px;
			}

			span {
				width: 27px;
				height: 2px;
				background-color: var(--blue-100);
			}
		}

		.response-des {
			display: flex;
			opacity: 0;

			p {
				font-size: 18px;
				line-height: 13px;
			}
		}

		.response-info {
			display: flex;
			align-items: center;
			padding: 24px 32px;
			background-color: var(--blue-400);
			opacity: 0;

			.response-info__content {
				display: flex;
				flex-direction: column;
				gap: 12px;
				margin-right: 32px;

				.small {
					font-size: 24px;
					line-height: 24px;
				}

				.medium {
					font-size: 40px;
					line-height: 29px;
				}

				.response-info__content-line {
					display: flex;
					align-items: flex-end;

					.line {
						position: relative;

						span {
							position: absolute;
							bottom: 0;
							left: 0;
							transform: translateY(11px);
							width: 100%;
							height: 12px;
							background-color: var(--blue-100);
							opacity: 0.2;
						}
					}
				}
			}

			.response-info__image {
				display: flex;
				align-items: center;

				.response-info__icon {
					width: 54px;
					height: 64px;
					margin-right: 32px;
				}

				.response-info__percent-img {
					width: 120px;
					height: 120px;
					margin-right: 16px;
				}

				.response-info__percent {
					letter-spacing: -0.02em;

					.small {
						font-size: 48px;
						line-height: 63px;
					}

					.medium {
						font-size: 88px;
						line-height: 70px;
					}
				}
			}
		}
	}

	.response-swiper {
		.swiper-wrapper {
			opacity: 0;

			.item {
				display: flex;
				flex-direction: column;
				gap: 23px;
				height: auto;
				padding: 22px;
				background-color: white;
				border: 2px solid var(--blue-100);
				border-radius: 16px;
				opacity: 0;
				box-shadow: 0px 0px 16px 0px rgba(126, 54, 67, 0.1);

				.item-header {
					display: grid;
					grid-template-columns: 96fr 148fr;
					align-items: center;
					gap: 16px;
					padding: 0 6px 16px 6px;
					border-bottom: 1px solid var(--neutral-400);

					.item-header__avatar {
						width: 100%;
						aspect-ratio: 1;
					}

					.item-header__info {
						display: flex;
						flex-direction: column;
						gap: 16px;

						.title {
							font-size: 16px;
							line-height: 12px;
							font-weight: 700;
							color: black;
						}

						.star {
							display: flex;
							align-items: center;
							gap: 8px;

							p {
								font-size: 40px;
								line-height: 28px;
								font-weight: 700;
								color: black;
								font-family: "Roboto", sans-serif;
							}

							img {
								flex-grow: 1;
								aspect-ratio: 82/16;
							}
						}

						.general {
							display: flex;
							align-items: center;
							width: max-content;
							padding: 8px;
							background-color: var(--neutral-400);

							p {
								font-size: 14px;
								line-height: 10px;
								font-weight: 700;
								color: black;
							}
						}
					}
				}

				.item-body {
					font-size: 14px;
					line-height: 22.5px;
					color: black;
				}
			}
		}

		&.response-swiper-show {
			.swiper-wrapper {
				opacity: 1;

				.item {
					opacity: 1;
				}
			}
		}
	}

	.response-footer {
		font-size: 14px;
		line-height: 10px;
	}

	// ANIMATION
	.response-header {
		&.show {
			.response-title {
				animation: fadeUpScale 0.3s linear forwards;
			}

			.response-des {
				animation: fadeUpScale 0.3s linear forwards;
				animation-delay: 0.15s;
			}

			.response-info {
				animation: fadeUpScale 0.3s linear forwards;
				animation-delay: 0.3s;
			}
		}
	}

	.response-swiper {
		&.show {
			.swiper-wrapper {
				opacity: 1;

				.item {
					opacity: 1;

					&:nth-child(4) {
						z-index: 5;
						animation: slideFromLeft1 0.3s ease-out;
					}

					&:nth-child(5) {
						z-index: 4;
						animation: slideFromLeft2 0.4s ease-out;
					}

					&:nth-child(6) {
						z-index: 3;
						animation: slideFromLeft3 0.5s ease-out;
					}

					&:nth-child(7) {
						z-index: 2;
						animation: slideFromLeft4 0.6s ease-out;
					}

					&:nth-child(8) {
						z-index: 1;
						animation: slideFromLeft5 0.7s ease-out;
					}
				}
			}
		}
	}

	// RESPONSIVE
	@media (max-width: 900px) {
		.response-header {
			.response-info {
				.response-info__content {
					.small {
						font-size: 14px;
						line-height: 14px;
						font-weight: 700;
					}

					.medium {
						font-size: 24px;
						line-height: 24px;
					}
				}
			}
		}
	}

	@media (max-width: 874px) {
		gap: 24px;
		padding: 40px 0;

		.response-header {
			gap: 24px;
			padding: 0 15px;

			.response-title {
				gap: 12px;

				p {
					font-size: 24px;
					line-height: 18px;
				}
			}

			.response-des {
				flex-direction: column;
				align-items: center;

				p {
					font-size: 13px;
					line-height: 15px;
				}
			}

			.response-info {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 16px;
				padding: 20px 24px;

				.response-info__content {
					align-items: center;
					gap: 12px;
					margin-right: 0;

					.small {
						font-size: 14px;
						line-height: 14px;
						font-weight: 700;
					}

					.medium {
						font-size: 24px;
						line-height: 24px;
					}

					.response-info__content-line {
						.line {
							span {
								transform: translateY(5px);
								height: 14px;
							}
						}
					}
				}

				.response-info__image {
					.response-info__icon {
						width: 75px;
						height: 90px;
						margin-right: 14px;
					}

					.response-info__percent-img {
						width: 90px;
						height: 90px;
						margin-right: 12px;
					}

					.response-info__percent {
						.small {
							font-size: 36px;
							line-height: 52px;
						}

						.medium {
							font-size: 66px;
							line-height: 52px;
						}
					}
				}
			}
		}

		.response-swiper {
			.swiper-wrapper {
				.item {
					gap: 18px;
					padding: 18px 11px;

					.item-header {
						grid-template-columns: 144fr 265fr;
						gap: 12px;
						padding: 0 0 12px 0;

						.item-header__avatar {
							width: 100%;
							aspect-ratio: 1;
						}

						.item-header__info {
							display: flex;
							flex-direction: column;
							gap: 14px;

							.title {
								font-size: 14px;
								line-height: 11px;
							}

							.star {
								gap: 14px;

								p {
									font-size: 36px;
									line-height: 26px;
								}

								img {
									aspect-ratio: 147/22;
								}
							}

							.general {
								padding: 8px;

								p {
									font-size: 13px;
									line-height: 9px;
								}
							}
						}
					}

					.item-body {
						font-size: 13px;
						line-height: 21px;
					}
				}
			}
		}

		.response-footer {
			max-width: 66.6%;
			font-size: 10px;
			line-height: 12px;
			color: var(--neutral-700);
			text-align: center;
		}
	}
}
