.response {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 48px;
	width: 100%;
	max-width: 2000px;
	padding: 80px 0;
	overflow: hidden;

	.response-title {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 22px;
		opacity: 0;

		p {
			font-size: 48px;
			line-height: 35px;
		}

		span {
			width: 27px;
			height: 2px;
			background-color: var(--blue-100);
		}
	}

	.response-des {
		font-size: 18px;
		line-height: 13px;
	}

	.response-info {
		display: flex;
		align-items: center;
		padding: 24px 32px;
		background-color: var(--blue-400);

		.response-info__content {
			display: flex;
			flex-direction: column;
			gap: 12px;
			margin-right: 32px;

			.small {
				font-size: 24px;
				line-height: 24px;
			}

			.medium {
				font-size: 40px;
				line-height: 29px;
			}

			.response-info__content-line {
				display: flex;
				align-items: flex-end;

				.line {
					position: relative;

					span {
						position: absolute;
						bottom: 0;
						left: 0;
						transform: translateY(11px);
						width: 100%;
						height: 12px;
						background-color: var(--blue-100);
						opacity: 0.2;
					}
				}
			}
		}

		.response-info__icon {
			width: 54px;
			height: 64px;
			margin-right: 32px;
		}

		.response-info__percent-img {
			width: 120px;
			height: 120px;
			margin-right: 16px;
		}

		.response-info__percent {
			.small {
				font-size: 48px;
				line-height: 63px;
			}

			.medium {
				font-size: 88px;
				line-height: 63px;
			}
		}
	}

	.response-swiper {
		.swiper-wrapper {
			opacity: 0;

			.item {
				display: flex;
				flex-direction: column;
				gap: 23px;
				padding: 22px;
				background-color: white;
				border: 2px solid var(--blue-100);
				border-radius: 16px;

				.item-header {
					display: grid;
					grid-template-columns: 96fr 148fr;
					align-items: center;
					gap: 16px;
					padding: 0 6px 16px 6px;
					border-bottom: 1px solid var(--neutral-400);

					.item-header__avatar {
						width: 100%;
						aspect-ratio: 1;
					}

					.item-header__info {
						display: flex;
						flex-direction: column;
						gap: 16px;

						.title {
							font-size: 16px;
							line-height: 12px;
							font-weight: 700;
							color: black;
						}

						.star {
							display: flex;
							align-items: center;
							gap: 8px;

							p {
								font-size: 40px;
								line-height: 28px;
								font-weight: 700;
								color: black;
								font-family: "Roboto", sans-serif;
							}

							img {
								flex-grow: 1;
								aspect-ratio: 82/16;
							}
						}

						.general {
							display: flex;
							align-items: center;
							width: max-content;
							padding: 8px;
							background-color: var(--neutral-400);

							p {
								font-size: 14px;
								line-height: 10px;
								font-weight: 700;
								color: black;
							}
						}
					}
				}

				.item-body {
					font-size: 14px;
					line-height: 22.5px;
					color: black;
				}
			}
		}
	}

	.response-footer {
		font-size: 14px;
		line-height: 10px;
	}

	&.show {
		.response-title {
			opacity: 1;
			animation: fadeUpScale 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
		}

		.response-swiper {
			.swiper-wrapper {
				opacity: 1;

				.item {
					&:nth-child(4) {
						z-index: 5;
						animation: slideFromLeft1 0.6s ease-out;
					}

					&:nth-child(5) {
						z-index: 4;
						animation: slideFromLeft2 0.7s ease-out;
					}

					&:nth-child(6) {
						z-index: 3;
						animation: slideFromLeft3 0.8s ease-out;
					}

					&:nth-child(7) {
						z-index: 2;
						animation: slideFromLeft4 0.9s ease-out;
					}

					&:nth-child(8) {
						z-index: 1;
						animation: slideFromLeft5 1s ease-out;
					}
				}
			}
		}
	}
}
