:root {
	--blue-100: #2c6fff;
	--blue-200: #2ca5ff;
	--blue-300: #c8e2ff;
	--blue-400: #c8e2ff66;
	--blue-500: #e9f3ff;
	--blue-600: #2c6fff1a;
	--blue-700: #2c6fff0d;
	--red-100: #ec4765;
	--dark-100: #0f172a;
	--dark-200: #0000000d;
	--dark-300: #000000cc;
	--neutral-100: #ffffff1a;
	--neutral-200: #999999;
	--neutral-300: #ffffff33;
	--neutral-400: #eeeeee;
	--neutral-500: #ffffffcc;
	--neutral-600: #dddddd;
}
