.select {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 64px;
	width: 100%;
	max-width: 2000px;
	padding: 80px 10px;
	background: linear-gradient(90deg, #d9e6ff 0%, #d9ffec 100%);
	overflow: hidden;

	.select-header {
		display: flex;
		flex-direction: column;
		align-items: center;

		.select-header__title {
			font-size: 32px;
			line-height: 23px;
			margin-bottom: 24px;
			opacity: 0;
		}

		.select-header__sub-title {
			position: relative;
			width: auto;
			height: 47px;
			margin-bottom: 48px;
			opacity: 0;

			p {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: max-content;
				font-size: 64px;
				line-height: 68px;
			}
		}

		.select-header__des {
			display: flex;
			opacity: 0;

			p {
				font-size: 20px;
				line-height: 15px;
			}
		}
	}

	.select-body {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 32px;
		width: 100%;
		max-width: 1206px;

		.item {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 32px 0px;
			background-color: white;
			border-radius: 16px;
			opacity: 0;
			box-shadow: 0px 0px 16px 0px rgba(126, 54, 67, 0.1);

			.item-label {
				position: absolute;
				top: 0;
				left: 0;
				transform: translateY(-18px) translateX(-16px);
				height: 37px;
			}

			.item-image {
				height: 240px;

				img {
					width: 100%;
					height: 100%;
				}
			}

			.item-header {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 16px;
				margin-bottom: 32px;

				.item-header__name {
					padding: 8px;
					background-color: var(--blue-400);

					p {
						font-size: 12px;
						line-height: 9px;
					}
				}

				.item-header__code {
					font-size: 40px;
					line-height: 29px;
				}

				.item-header__des {
					display: flex;

					.small {
						font-size: 10px;
						line-height: 9px;
					}

					.medium {
						font-size: 16px;
						line-height: 12px;
					}
				}
			}

			.item-des {
				max-width: 459px;
				margin-bottom: 32px;
				font-size: 16px;
				line-height: 23px;
			}

			.item-feature {
				display: flex;
				gap: 8px;
				margin-bottom: 32px;

				div {
					display: flex;
					align-items: center;
					gap: 8px;
					padding: 8px;
					background-color: var(--neutral-400);

					img {
						width: 10px;
						height: 8px;
					}

					p {
						font-size: 14px;
						line-height: 10px;
					}
				}
			}
		}
	}

	.select-footer {
		display: flex;
		flex-direction: column;
		gap: 32px;
		width: 100%;
		max-width: 1206px;

		p {
			font-size: 12px;
			line-height: 9px;
		}

		.select-footer__order {
			display: flex;
			gap: 7px;
		}

		.select-footer__note {
			display: flex;
			gap: 8px;
			padding: 32px;
			background: var(--dark-200);

			.select-footer__note-content {
				line-height: 13px;
			}
		}
	}

	// ANIMATION
	.select-header {
		&.show {
			.select-header__title {
				animation: fadeUpScale 0.3s linear forwards;
			}

			.select-header__sub-title {
				animation: fadeUpScale 0.3s linear forwards;
			}

			.select-header__des {
				animation: fadeUpScale 0.3s linear forwards;
				animation-delay: 0.15s;
			}
		}
	}

	.select-body {
		&.show {
			.item {
				opacity: 1;
				// animation: zoomIn 0.8s linear forwards;
			}
		}
	}

	// RESPONSIVE
	@media (max-width: 1024px) {
		gap: 32px;
		padding: 40px 0;

		.select-header {
			.select-header__title {
				font-size: clamp(16px, 4.2vw, 32px);
				line-height: clamp(12px, 3vw, 23px);
				margin-bottom: 12px;
			}

			.select-header__sub-title {
				margin-bottom: 24px;

				p {
					font-size: clamp(32px, 8.5vw, 64px);
					line-height: clamp(32px, 8.5vw, 64px);
				}
			}

			.select-header__des {
				flex-direction: column;
				gap: 2px;

				p {
					font-size: clamp(13px, 3.4vw, 26px);
					line-height: clamp(15px, 3.8vw, 29px);
				}
			}
		}

		.select-body {
			grid-template-columns: 1fr;
			gap: 40px;
			padding: 0 15px;

			.item {
				padding: 0 0 16px 0;

				.item-label {
					transform: translateY(-50%) translateX(0);
					height: 36px;
				}

				.item-image {
					height: 240px;
					object-fit: cover;
				}

				.item-header {
					margin-bottom: 20px;

					.item-header__name {
						padding: 8px;
						background-color: var(--blue-400);

						p {
							font-size: clamp(12px, 3.2vw, 24px);
							line-height: clamp(9px, 2.2vw, 17px);
						}
					}

					.item-header__code {
						font-size: clamp(40px, 10.6vw, 80px);
						line-height: clamp(30px, 7.8vw, 59px);
					}

					.item-header__des {
						.medium {
							font-size: clamp(16px, 4.2vw, 32px);
							line-height: clamp(12px, 3vw, 23px);
						}
					}
				}

				.item-des {
					max-width: 90%;
					margin-bottom: 20px;
					font-size: clamp(13px, 3.4vw, 26px);
					line-height: clamp(17px, 4.5vw, 34px);
				}

				.item-feature {
					justify-content: center;
					flex-wrap: wrap;
					row-gap: 5px;
					column-gap: 8px;
					max-width: 230px;
					margin-bottom: 16px;

					div {
						img {
							width: 10px;
							height: 8px;
						}

						p {
							font-size: clamp(12px, 3.2vw, 24px);
							line-height: clamp(11px, 2.8vw, 21px);
						}
					}
				}

				.button-outline {
					gap: 6px;
					height: max-content;
					padding: 12px 24px;

					p {
						font-size: clamp(13px, 3.4vw, 26px);
						line-height: clamp(10px, 2.5vw, 19px);
					}

					.arrow-wrapper,
					img {
						width: 12px;
						height: 9px;
					}

					&:hover {
						.arrow-wrapper {
							.arrow-group {
								transform: translateX(16px);
							}
						}
					}
				}

				&.item-one {
					.item-image {
						width: 232px;
						height: 189px;
						margin-bottom: 8px;
					}
				}

				&.item-two {
					padding-top: 16px;

					.item-image {
						width: 175px;
						height: 120px;
					}
				}
			}
		}

		.select-footer {
			gap: 16px;

			.select-footer__order {
				padding: 0 15px;
				gap: 5px;

				span {
					font-size: clamp(10px, 2.6vw, 20px);
					line-height: clamp(8px, 2vw, 15px);
					color: var(--neutral-700);
				}

				p {
					font-size: clamp(10px, 2.6vw, 20px);
					line-height: clamp(10px, 2.6vw, 20px);
					color: var(--neutral-700);
				}
			}

			.select-footer__note {
				gap: 4px;
				padding: 16px;

				.select-footer__note-content {
					font-size: clamp(10px, 2.6vw, 20px);
					line-height: clamp(12px, 3vw, 23px);
					color: var(--neutral-700);
				}
			}
		}
	}
}
