.service {
	position: relative;
	z-index: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 80px;
	width: 100%;
	max-width: 2000px;
	padding: 112px 0 80px 0;
	margin: 0 auto;
	background: linear-gradient(
		180deg,
		rgba(200, 226, 255, 0.2) 0%,
		rgba(200, 226, 255, 0.4) 100%
	);
	overflow: hidden;

	.service-icon {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		width: 160px;
		height: 128px;
	}

	.service-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		opacity: 0;

		.service-header__title {
			display: flex;
			align-items: flex-end;
			gap: 8px;
			margin-bottom: 1px;

			p {
				font-size: 32px;
				line-height: 23px;
				font-weight: 700;
				color: black;
			}

			span {
				width: 2px;
				height: 16px;
				background-color: black;

				&.icon-left {
					transform: translateY(4px) translateX(-4px) rotate(-45deg);
				}

				&.icon-right {
					transform: translateY(4px) translateX(4px) rotate(45deg);
				}
			}
		}

		.service-header__des {
			position: relative;
			display: flex;
			align-items: flex-end;
			padding-bottom: 14px;
			margin-bottom: 48px;

			.layer {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 20px;
				background-color: var(--red-100);
			}

			.title {
				position: relative;
				z-index: 1;
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				gap: 15px;
				margin-right: 4px;
				font-weight: 700;

				.small {
					font-size: 24px;
					line-height: 18px;
					color: black;
					-webkit-text-stroke: 2px #fff;
					paint-order: stroke fill;
				}

				.medium {
					font-size: 48px;
					line-height: 35px;
					color: black;
					-webkit-text-stroke: 2px #fff;
					paint-order: stroke fill;
				}
			}

			.content {
				position: relative;
				z-index: 1;
				transform: translateY(24px);
				display: inline-flex;
				font-weight: 700;
				background: linear-gradient(
					to right,
					#2c6fff 0%,
					#372cff 50%,
					#2ca7ff 100%
				);
				-webkit-background-clip: text;
				background-clip: text;
				color: transparent;
				letter-spacing: -0.03em;

				span {
					height: max-content;
					color: transparent;
				}

				.small {
					height: max-content;
					margin-top: 20px;
					font-size: 48px;
					line-height: 85px;
					font-weight: 900;
				}

				.medium {
					height: max-content;
					font-size: 120px;
					line-height: 92px;
				}
			}

			.symbol {
				position: relative;
				z-index: 1;
				transform: translateY(2px);
				font-size: 54px;
				line-height: 40px;
				font-weight: 900;
				color: var(--blue-200);
			}

			.service-header__fake-des {
				position: absolute;
				top: 0;
				right: 0;
				z-index: 0;
				display: flex;
				align-items: flex-end;

				.content,
				.symbol {
					-webkit-text-stroke: 4px #fff;
					color: transparent;
					paint-order: stroke fill;
				}
			}
		}

		.service-header__content {
			display: flex;
			gap: 8px;
			width: 100%;
			max-width: 640px;

			span,
			p {
				font-size: 12px;
				color: black;
			}

			span {
				line-height: 9px;
			}

			p {
				line-height: 13px;
			}
		}
	}

	.service-body {
		width: 100%;
		max-width: 2000px;

		.body-top,
		.body-bottom {
			position: relative;

			.bg {
				position: absolute;
				z-index: 0;
				width: 75.4%;
				height: 100%;
				opacity: 0;
			}

			.bg-mb {
				display: none;
			}

			.content {
				position: relative;
				z-index: 1;
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 616px;
				height: 320px;
				background-color: white;
				box-shadow: 16px 16px 0px 0px rgba(185, 184, 210, 0.4);
				opacity: 0;

				.content-label {
					position: absolute;
					top: 0;
					left: 33px;
					transform: translateY(-16px);
					width: 173px;
					height: 37px;

					img {
						width: 100%;
						height: 100%;
					}
				}

				.content-title {
					font-size: 24px;
					line-height: 18px;
					font-weight: 700;
					color: black;
				}

				.content-des {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 10px;
					width: 100%;
					font-weight: 700;
					background-color: var(--blue-400);

					div {
						display: flex;
						align-items: center;
						gap: 10px;
					}

					.small {
						font-size: 16px;
						line-height: 12px;
						color: black;
					}

					.medium {
						font-size: 24px;
						line-height: 18px;
						color: black;
					}

					.large {
						font-size: 32px;
						line-height: 23px;
						color: black;
					}
				}

				.content-fee {
					display: flex;
					gap: 2px;
					margin-top: 8px;

					p {
						font-size: 12px;
						line-height: 9px;
					}
				}
			}
		}

		.body-top {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding-right: 5.85vw;
			aspect-ratio: 1366/560;

			.bg {
				top: 0;
				left: 0;
			}

			.content {
				padding: 52px 32px 0 32px;

				.content-title {
					margin-bottom: 20px;
				}

				.content-detail {
					display: flex;
					align-items: flex-end;
					gap: 10px;
					margin-bottom: 39px;
					font-weight: 700;

					.content-detail__title {
						display: flex;
						flex-direction: column;
						align-items: center;
						gap: 15px;
						margin-bottom: 0;
					}

					.content-detail__des {
						position: relative;
						display: flex;
						align-items: flex-end;
						padding-bottom: 9px;

						span {
							position: absolute;
							bottom: 0;
							left: 0;
							z-index: 0;
							width: 100%;
							height: 20px;
							background-color: var(--red-100);
							opacity: 0.2;
						}

						.content-detail__order {
							display: flex;
							flex-direction: column;
							align-items: flex-end;
							gap: 9px;
						}
					}

					.small {
						font-size: 14px;
						line-height: 10px;
						color: black;
					}

					.medium {
						font-size: 23px;
						line-height: 16px;
						color: black;
					}

					.large {
						font-size: 40px;
						line-height: 29px;
						color: black;
					}

					.larger {
						font-size: 45px;
						line-height: 45px;
						color: black;
					}

					.big {
						font-size: 90px;
						line-height: 64px;
						color: var(--red-100);
					}
				}

				.content-des {
					height: 77px;
				}
			}
		}

		.body-bottom {
			display: flex;
			align-items: center;
			padding: 0 0 0 5.85vw;
			aspect-ratio: 1366/528;

			.icon {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 0;
				width: 80px;
				height: 64px;
			}

			.bg {
				bottom: 0;
				right: 0;
				height: max-content;
				aspect-ratio: 1030/560;

				.bg-image {
					width: 100%;
					height: 100%;
				}

				.bg-icon {
					position: absolute;
					bottom: 100%;
					right: 0;
					width: 80px;
					height: 64px;
				}
			}

			.content {
				padding: 53px 32px 32px 32px;
				margin-bottom: 2.34vw;

				.content-title {
					margin-bottom: 16px;
				}

				.content-detail {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 6px;
					margin-bottom: 32px;
					font-weight: 700;

					.content-detail__wrapper {
						display: flex;
						align-items: flex-end;
						gap: 10px;

						.detail-wrap {
							position: relative;
							display: flex;
							align-items: flex-end;
							padding-bottom: 15px;

							.detail-wrap__order {
								display: flex;
								flex-direction: column;
								align-items: flex-end;
								gap: 12px;

								.large {
									margin: 0;
								}
							}

							span {
								position: absolute;
								bottom: 0;
								left: 0;
								z-index: 0;
								width: 100%;
								height: 20px;
								background-color: var(--red-100);
								opacity: 0.2;
							}
						}
					}

					.small {
						font-size: 14px;
						line-height: 10px;
						color: black;
					}

					.medium {
						font-size: 32px;
						line-height: 23px;
						color: black;
					}

					.large {
						margin-bottom: 12px;
						font-size: 40px;
						line-height: 28px;
						color: black;
					}

					.larger {
						font-size: 60px;
						line-height: 44px;
						color: var(--red-100);
					}

					.big {
						transform: translateY(9px);
						font-size: 90px;
						line-height: 64px;
						color: var(--red-100);
					}
				}

				.content-des {
					height: 66px;
				}
			}
		}
	}

	.service-list {
		position: relative;
		display: flex;
		justify-content: center;
		width: 100%;

		.service-list__wrapper {
			position: relative;
			z-index: 1;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			gap: 32px;
			width: 100%;
			max-width: 1226px;
			padding: 0 10px;

			.service-item {
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				height: 351px;
				padding: 48px 23px 0px 23px;
				background-color: white;
				border-radius: 16px;
				opacity: 0;

				.service-item__label {
					position: absolute;
					top: 0;
					left: 0;
					transform: translateY(-16px) translateX(-11px);
					width: 135px;
					height: 36px;
				}

				.service-item__icon {
					height: 80px;
					margin-bottom: 16px;
				}

				.service-item__title {
					margin-bottom: 32px;
					font-size: 12px;
					line-height: 9px;
					font-weight: 700;
					color: var(--blue-100);
					text-align: center;
				}

				.service-item__general {
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 100%;
					padding: 0 1px;

					.service-item__name {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 100%;
						height: 45px;
						margin-bottom: 16px;
						background-color: var(--blue-400);

						p {
							font-size: 18px;
							line-height: 13px;
							font-weight: 700;
							color: black;
						}
					}

					.service-item__detail {
						position: relative;
						display: flex;
						align-items: flex-end;
						padding-bottom: 5px;
						margin-bottom: 10px;

						.service-item__max {
							display: flex;
							flex-direction: column;
							align-items: center;
							gap: 5px;
						}

						span {
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;
							height: 16px;
							background-color: var(--red-100);
							opacity: 0.2;
						}

						.small {
							font-size: 12px;
							line-height: 9px;
							font-weight: 700;
							color: black;
						}

						.medium {
							font-size: 24px;
							line-height: 24px;
							font-weight: 700;
							color: black;
						}

						.large {
							transform: translateY(-2px);
							font-size: 44px;
							line-height: 30px;
							font-weight: 700;
							color: var(--red-100);
						}
					}

					.service-item__order {
						display: flex;
						align-items: flex-start;
						font-weight: 700;

						.small {
							margin-top: 2px;
							font-size: 12px;
							line-height: 9px;
							font-weight: 400;
							color: black;
						}

						.medium {
							font-size: 28px;
							line-height: 28px;
							color: black;

							&.medium-red {
								color: var(--red-100);
							}
						}
					}

					.service-item__info {
						display: flex;
						align-items: flex-end;

						.service-item__detail {
							margin: 0;
						}

						.service-item__order {
							margin-bottom: 5px;
						}
					}
				}

				.title-mb {
					display: none;
				}
			}

			@media (max-width: 1200px) {
				grid-template-columns: 1fr 1fr;
			}
		}

		.service-list__icon {
			position: absolute;
			bottom: 0;
			right: 0;
			transform: translateY(40px);
			z-index: 0;
			width: 160px;
			height: 128px;
		}
	}

	.service-content {
		display: flex;
		flex-direction: column;
		gap: 13px;
		width: 100%;
		max-width: 1226px;
		padding: 0 10px;

		li {
			div {
				display: flex;

				p {
					font-size: 12px;
					line-height: 13px;
					color: black;
				}

				.order {
					width: 32px;
				}
			}
		}
	}

	// ANIMATION
	.service-header {
		&.show {
			animation: slideWidth 0.3s linear forwards;
		}
	}

	.body-top {
		&.show {
			.bg {
				opacity: 1;
				animation: fadeInLeft 0.3s linear forwards;
			}

			.content {
				opacity: 1;
				animation: fadeInRight 0.3s linear forwards;
			}
		}
	}

	.body-bottom {
		&.show {
			.bg {
				opacity: 1;
				animation: fadeInRight 0.3s linear forwards;
			}

			.content {
				opacity: 1;
				animation: fadeInLeft 0.3s linear forwards;
			}
		}
	}

	.service-list {
		&.show {
			.service-list__wrapper {
				.service-item {
					opacity: 0;
					animation: zoomIn 0.3s linear forwards;
				}
			}
		}
	}

	// RESPONSIVE {
	@media (max-width: 1024px) {
		.service-body {
			.body-top {
				.content {
					width: 47.9vw;
					height: max-content;
					padding: 20px 10px 10px 10px;
					box-shadow: 10px 10px 0px 0px rgba(185, 184, 210, 0.4);
					aspect-ratio: 616/320;

					.content-label {
						width: 150px;
						height: 33px;
					}

					.content-title {
						font-size: 14px;
						margin-bottom: 10px;
					}

					.content-detail {
						margin-bottom: 10px;

						.content-detail__title {
							gap: 0px;
							margin: 0;
						}

						.content-detail__des {
							.content-detail__order {
								gap: 0px;
							}
						}

						.small {
							font-size: 10px;
							line-height: 10px;
							color: black;
						}

						.medium {
							font-size: 12px;
							line-height: 23px;
							color: black;
						}

						.large {
							margin-bottom: 6px;
							font-size: 25px;
							line-height: 28px;
							color: black;
						}

						.larger {
							font-size: 35px;
							line-height: 44px;
						}

						.big {
							transform: translateY(9px);
							font-size: 65px;
							line-height: 64px;
							color: var(--red-100);
						}
					}

					.content-des {
						gap: 5px;
						height: max-content;
						padding: 8px 0;

						.small {
							font-size: 12px;
							line-height: 12px;
							color: black;
						}

						.medium {
							font-size: 20px;
							line-height: 18px;
							color: black;
						}

						.large {
							font-size: 26px;
							line-height: 23px;
							color: black;
						}
					}

					.content-fee {
						p {
							font-size: 10px;
						}
					}
				}
			}

			.body-bottom {
				.content {
					width: 47.9vw;
					height: max-content;
					padding: 20px 10px 10px 10px;
					box-shadow: 10px 10px 0px 0px rgba(185, 184, 210, 0.4);
					aspect-ratio: 616/320;

					.content-label {
						width: 150px;
						height: 33px;
					}

					.content-title {
						font-size: 14px;
						margin-bottom: 10px;
					}

					.content-detail {
						margin-bottom: 10px;

						.content-detail__wrapper {
							.detail-wrap {
								padding-bottom: 5px;

								.detail-wrap__order {
									gap: 0;
								}
							}
						}

						.small {
							font-size: 10px;
							line-height: 10px;
							color: black;
						}

						.medium {
							font-size: 18px;
							line-height: 23px;
							color: black;
						}

						.large {
							margin-bottom: 6px;
							font-size: 25px;
							line-height: 28px;
							color: black;
						}

						.larger {
							font-size: 35px;
							line-height: 44px;
							color: var(--red-100);
						}

						.big {
							transform: translateY(5px);
							font-size: 70px;
							line-height: 64px;
							color: var(--red-100);
						}
					}

					.content-des {
						height: max-content;
						padding: 8px 0;

						.medium {
							font-size: 18px;
							line-height: 18px;
							color: black;
						}
					}
				}
			}
		}
	}

	@media (max-width: 874px) {
		gap: 32px;
		padding: 40px 0 32px 0;

		.service-icon {
			width: 80px;
			height: 64px;
		}

		.service-header {
			.service-header__title {
				gap: 4px;

				p {
					font-size: 16px;
					line-height: 12px;
				}
			}

			.service-header__des {
				margin-bottom: 15px;

				.layer {
					transform: translateY(-5px);
					height: 10px;
				}

				.title {
					gap: 8px;
					margin-right: 2px;

					.small {
						font-size: 12px;
						line-height: 9px;
					}

					.medium {
						font-size: 23px;
						line-height: 17px;
					}
				}

				.content {
					transform: translateY(25%);

					span {
						height: max-content;
						color: transparent;
					}

					.small {
						margin-top: 3%;
						font-size: 23px;
						line-height: 44px;
					}

					.medium {
						font-size: 58px;
						line-height: 44px;
					}
				}

				.symbol {
					font-size: 26px;
					line-height: 19px;
				}

				.service-header__fake-des {
					position: absolute;
					top: 0;
					right: 0;
					z-index: 0;
					display: flex;
					align-items: flex-end;

					.content,
					.symbol {
						-webkit-text-stroke: 4px #fff;
						color: transparent;
						paint-order: stroke fill;
					}
				}
			}

			.service-header__content {
				gap: 5px;
				padding: 0 10px;

				span,
				p {
					font-size: 10px;
					line-height: 12px;
					color: var(--neutral-700);
				}
			}
		}

		.service-body {
			.body-top {
				height: max-content;
				padding: 99px 38px 44px 38px;

				.bg {
					display: none;
				}

				.bg-mb {
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					width: 100%;
					aspect-ratio: 750/375;
				}

				.content {
					width: 100%;
					height: max-content;
					padding: 31px 16px 16px 16px;
					aspect-ratio: unset;

					.content-label {
						left: 16px;
						transform: translateY(-17px) translateX(0);
						width: max-content;
						height: 31px;
					}

					.content-title {
						margin-bottom: 10px;
						font-size: 14px;
						line-height: 11px;
					}

					.content-detail {
						gap: 5px;
						margin-bottom: 24px;

						.content-detail__title {
							gap: 8px;
							margin-bottom: 0;

							.large {
								margin-bottom: 10px;
							}
						}

						.content-detail__des {
							padding-bottom: 9px;

							span {
								transform: translateY(-6px);
								height: 10px;
							}

							.content-detail__order {
								display: flex;
								flex-direction: column;
								align-items: flex-end;
								gap: 9px;
							}

							.big {
								transform: translateY(0);
							}
						}

						.small {
							font-size: 7px;
							line-height: 5px;
						}

						.medium {
							font-size: 12px;
							line-height: 8px;
						}

						.large {
							font-size: 20px;
							line-height: 15px;
						}

						.larger {
							font-size: 23px;
							line-height: 23px;
						}

						.big {
							font-size: 45px;
							line-height: 32px;
						}
					}

					.content-des {
						gap: 7px;
						height: max-content;
						padding: 10px 0;
						margin-bottom: 8px;

						.small {
							font-size: 12px;
							line-height: 9px;
						}

						.medium {
							font-size: 16px;
							line-height: 15px;
						}

						.large {
							font-size: 21px;
							line-height: 15px;
						}
					}

					.content-fee {
						p {
							font-size: 10px;
							line-height: 8px;
							color: var(--neutral-700);
						}
					}
				}
			}

			.body-bottom {
				height: max-content;
				padding: 100px 38px 57px 38px;
				overflow: hidden;
				aspect-ratio: unset;

				.icon {
					display: none;
				}

				.bg {
					top: 0;
					left: 0;
					width: 100%;
					height: max-content;
					aspect-ratio: 750/375;

					.bg-image,
					.bg-icon {
						display: none;
					}

					.bg-mb {
						display: block;
						width: 100%;
						height: 100%;
						aspect-ratio: 750/375;
					}
				}

				.content {
					width: 100%;
					height: max-content;
					padding: 25px 16px 16px 16px;
					aspect-ratio: unset;

					.content-label {
						left: 16px;
						transform: translateY(-17px) translateX(0);
						width: max-content;
						height: 31px;
					}

					.content-title {
						margin-bottom: 10px;
						font-size: 14px;
						line-height: 11px;
					}

					.content-detail {
						gap: 4px;
						margin-bottom: 24px;

						.content-detail__wrapper {
							gap: 6px;

							.large {
								margin-bottom: 9px;
							}

							.detail-wrap {
								position: relative;
								display: flex;
								align-items: flex-end;
								padding-bottom: 15px;

								.detail-wrap__order {
									gap: 6px;

									.large {
										margin: 0;
									}
								}

								span {
									transform: translateY(-4px);
									height: 12px;
								}
							}
						}

						.small {
							font-size: 9px;
							line-height: 6px;
						}

						.medium {
							font-size: 24px;
							line-height: 17px;
						}

						.large {
							font-size: 24px;
							line-height: 17px;
						}

						.larger {
							font-size: 36px;
							line-height: 26px;
							color: var(--red-100);
						}

						.big {
							transform: translateY(9px);
							font-size: 53px;
							line-height: 38px;
							color: var(--red-100);
						}
					}

					.content-des {
						height: max-content;
						padding: 10px 0;

						.medium {
							font-size: 12px;
							line-height: 9px;
						}
					}
				}
			}
		}

		.service-list {
			padding: 0 21px;

			.service-list__wrapper {
				grid-template-columns: 1fr 1fr;
				row-gap: 34px;
				column-gap: 18px;
				padding: 0;

				.service-item {
					height: auto;
					padding: 27px 9px 18px 9px;
					background-color: white;
					border-radius: 16px;
					opacity: 0;

					.service-item__label {
						transform: translateY(-50%) translateX(-11px);
						width: 76px;
						height: 21px;
					}

					.service-item__icon {
						height: 45px;
						margin-bottom: 9px;
					}

					.service-item__title {
						margin-bottom: 18px;
						font-size: 14px;
						line-height: 15px;
					}

					.service-item__general {
						padding: 0 4px;

						.service-item__name {
							height: max-content;
							padding: 9px 0;
							margin-bottom: 15px;

							p {
								font-size: 12px;
								line-height: 9px;
							}
						}

						.service-item__detail {
							padding-bottom: 0;
							margin-bottom: 0;

							.service-item__max {
								display: flex;
								flex-direction: column;
								align-items: flex-start;
								gap: 5px;

								.small {
									font-size: 7px;
									line-height: 5px;
								}
							}

							span {
								height: 9px;
							}

							.small {
								font-size: 12px;
								line-height: 9px;
							}

							.medium {
								font-size: 14px;
								line-height: 21px;
							}

							.large {
								transform: translateY(-2px);
								font-size: 25px;
								line-height: 21px;
							}
						}

						.service-item__order {
							font-weight: 700;

							.small {
								font-size: 12px;
								line-height: 9px;
							}

							.medium {
								font-size: 16px;
								line-height: 21px;
							}

							sup {
								font-weight: 400;
								color: black;
							}
						}

						.service-item__info {
							display: flex;
							align-items: flex-end;

							.service-item__detail {
								margin: 0;
							}

							.service-item__order {
								margin-bottom: 0;
							}
						}
					}

					.title-pc {
						display: none;
					}

					.title-mb {
						display: block;
						text-align: center;
					}
				}
			}

			.service-list__icon {
				display: none;
			}
		}

		.service-content {
			gap: 8px;
			padding: 0 15px;

			li {
				div {
					gap: 5px;

					p {
						font-size: 10px;
						line-height: 12px;
						color: var(--neutral-700);
					}

					.order {
						width: max-content;
					}
				}
			}
		}
	}
}
