.simulation {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 2000px;
	padding: 80px 10px;
	overflow: hidden;

	.simulation-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 48px;
		width: 100%;

		.simulation-title {
			font-size: 32px;
			line-height: 23px;
			margin-bottom: 24px;
			opacity: 0;
		}

		.simulation-sub-title {
			position: relative;
			height: 47px;
			margin-bottom: 48px;
			opacity: 0;

			p {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: max-content;
				font-size: 64px;
				line-height: 64px;
			}
		}

		.simulation-des {
			font-size: 18px;
			line-height: 13px;
			opacity: 0;
		}
	}

	.simulation-form {
		display: grid;
		grid-template-columns: 365fr 16fr 365fr 16fr 365fr;
		align-items: center;
		gap: 8px;
		width: 100%;
		max-width: 1206px;
		padding: 24px;
		margin-bottom: 16px;
		background-color: var(--blue-400);
		border-radius: 16px;

		.arrow {
			width: 100%;
			aspect-ratio: 16/24;
		}

		.item {
			display: flex;
			flex-direction: column;
			gap: 32px;
			width: 100%;
			padding: 32px;
			background-color: var(--neutral-500);
			border-radius: 16px;
			opacity: 0;

			.item-header {
				display: flex;
				flex-direction: column;
				gap: 16px;

				.item-header__title {
					font-size: 14px;
					line-height: 10px;
					font-weight: 700;
					color: var(--blue-100);
					font-family: "Roboto", sans-serif;
				}

				.item-header__des {
					font-size: 20px;
					line-height: 15px;
					font-weight: 700;
					color: black;
				}
			}

			.item-body {
				display: flex;
				flex-direction: column;
				gap: 16px;

				.item-body__value {
					display: flex;
					align-items: center;
					gap: 16px;
					padding: 23px 15px;
					border: 1px solid var(--neutral-600);
					border-radius: 16px;
					cursor: pointer;

					.item-body__checkbox {
						position: relative;
						width: 24px;
						height: 24px;

						img {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
						}

						.checkbox {
							opacity: 1;
						}

						.checkbox-active {
							opacity: 0;
						}
					}

					.item-body__content {
						display: flex;
						flex-direction: column;
						gap: 12px;

						.small {
							font-size: 14px;
							line-height: 10px;
							font-weight: 700;
							color: black;
						}

						.medium {
							font-size: 20px;
							line-height: 15px;
							font-weight: 700;
							color: black;
						}
					}

					.item-body__image {
						width: 55px;
					}

					&:last-child {
						gap: 8px;
					}

					&:has(input:checked),
					&:hover {
						background-color: var(--blue-400);
						border: 1px solid var(--blue-100);
						box-shadow: 0px 0px 8px 0px #3950e266;

						.item-body__checkbox {
							.checkbox {
								opacity: 0;
							}
							.checkbox-active {
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}

	.simulation-arrow {
		width: 12px;
		height: 56px;
		margin-bottom: 48px;
	}

	.simulation-result-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 1206px;
		margin-bottom: 64px;
		opacity: 0;

		.simulation-result-header {
			font-size: 32px;
			line-height: 23px;
			margin-bottom: 32px;
		}

		.simulation-result {
			width: 100%;
			border: 2px solid var(--blue-100);
			border-radius: 16px;

			.simulation-result__content {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				padding: 38px 46px 40px 46px;

				.header-wrapper {
					display: flex;
					align-items: center;
					gap: 32px;
					width: 100%;
					padding-bottom: 32px;
					margin-bottom: 32px;
					border-bottom: 1px solid var(--neutral-400);

					.header-title {
						font-size: 18px;
						line-height: 13px;
					}

					.header-wrapper__method {
						display: flex;
						align-items: center;
						gap: 32px;

						div {
							display: flex;
							align-items: center;
							gap: 4px;

							img {
								width: 18px;
								height: 18px;
							}

							p {
								font-size: 16px;
								line-height: 12px;
								font-weight: 700;
								color: black;
							}
						}
					}
				}

				.tag-wrapper {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;

					.tag-wrapper__title {
						font-size: 18px;
						line-height: 13px;
					}

					.tag-wrapper__button {
						display: flex;
						gap: 1px;

						button {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 200px;
							height: 60px;
							font-size: 16px;
							line-height: 12px;
							font-weight: 700;
							color: var(--blue-100);
							background-color: white;
							border-top: 1px solid var(--blue-100);
							border-right: 1px solid var(--blue-100);
							border-left: 1px solid var(--blue-100);
							border-top-left-radius: 16px;
							border-top-right-radius: 16px;
							cursor: pointer;

							&.active {
								background-color: var(--blue-400);
								border: none;
								pointer-events: none;
							}

							&:hover {
								color: white;
								background-color: var(--blue-100);
							}
						}
					}
				}

				.body {
					display: flex;
					gap: 24px;
					width: 100%;
					padding: 48px 32px;
					margin-bottom: 16px;
					background-color: var(--blue-400);

					span {
						display: block;
						width: 2px;
						height: auto;
						background-color: white;
					}

					.item {
						display: flex;
						flex-direction: column;
						align-items: center;
						gap: 16px;
						width: 100%;
						height: 100%;

						.item-title {
							font-size: 20px;
							line-height: 15px;
							font-weight: 700;
							color: black;
						}

						.item-price {
							display: flex;
							align-items: flex-end;
							font-family: "Roboto", sans-serif;

							.small {
								font-size: 32px;
								line-height: 24px;
								font-weight: 700;
								color: black;
							}

							.medium {
								font-size: 64px;
								line-height: 46px;
								font-weight: 700;
								color: var(--red-100);
							}
						}
					}
				}

				.open-price {
					position: relative;
					display: flex;
					align-items: center;
					gap: 8px;
					cursor: pointer;
					overflow: hidden;

					div {
						position: relative;
						transition: 0.2s;

						p {
							font-size: 16px;
							line-height: 20px;
						}

						span {
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;
							height: 1px;
							background-color: var(--blue-100);
						}
					}

					img {
						width: 16px;
						height: 12px;
						transition: 0.2s;
					}

					&:hover {
						div {
							span {
								animation: revealWidth 0.3s linear forwards;
							}
						}
					}
				}
			}

			.simulation-result__campaign {
				display: flex;
				flex-direction: column;
				gap: 48px;
				padding: 40px 46px 38px 46px;
				background-color: var(--blue-700);
				overflow: hidden;

				.title {
					font-size: 18px;
					line-height: 13px;
				}

				.body,
				.body--mobile {
					display: grid;
					grid-template-columns: 1fr 1fr 1fr;
					gap: 16px;
					width: 100%;

					.item {
						position: relative;
						display: flex;
						flex-direction: column;
						align-items: center;
						gap: 16px;
						padding: 39px 23px;
						background-color: white;
						border: 1px solid var(--neutral-600);
						border-radius: 16px;

						.item-label {
							position: absolute;
							top: 0;
							left: 0;
							transform: translateY(-18px) translateX(-11px);
							height: 37px;
						}

						.item-title {
							display: flex;
							justify-content: center;
							width: 100%;
							padding-bottom: 15px;
							border-bottom: 1px solid var(--neutral-400);

							p {
								font-size: 32px;
								line-height: 23px;
								font-weight: 700;
								color: var(--blue-100);
							}
						}

						.item-des {
							position: relative;
							height: 32px;

							div {
								position: absolute;
								top: 0;
								left: 50%;
								transform: translateX(-50%);
								display: flex;
								flex-direction: column;
								align-items: center;
								gap: 2px;
								width: max-content;

								p {
									font-size: 16px;
									line-height: 16px;
									font-weight: 700;
									color: black;
								}
							}
						}

						.item-general {
							display: flex;
							align-items: flex-end;

							.small {
								font-size: 14px;
								line-height: 10px;
								font-weight: 700;
								color: black;
							}

							.medium {
								font-size: 24px;
								line-height: 18px;
								font-weight: 700;
								color: black;
							}

							.large {
								font-size: 56px;
								line-height: 40px;
								font-weight: 700;
								color: var(--red-100);
								font-family: "Roboto", sans-serif;
							}

							.item-general__line {
								position: relative;
								display: flex;
								align-items: flex-end;

								span {
									position: absolute;
									bottom: 0;
									left: 0;
									transform: translateY(7px);
									width: 100%;
									height: 16px;
									background-color: var(--red-100);
									opacity: 0.2;
								}

								.order {
									display: flex;
									flex-direction: column;
									align-items: flex-end;
									gap: 12px;
								}
							}
						}

						&.item-three {
							.item-general {
								.large {
									font-size: 48px;
									line-height: 35px;
								}

								span {
									transform: translateY(9px);
								}
							}
						}
					}
				}

				.body--mobile {
					display: none;
				}
			}
		}
	}

	.simulation-button {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 64px;
		opacity: 0;
	}

	.simulation-order {
		display: flex;
		flex-direction: column;
		gap: 16px;
		width: 100%;
		max-width: 1206px;
		margin-bottom: 32px;
		opacity: 0;

		div {
			display: flex;
			font-size: 12px;
			line-height: 12px;

			span {
				width: 32px;
				color: black;
			}

			p {
				color: black;
			}
		}
	}

	.simulation-list {
		display: flex;
		justify-content: center;
		width: 100%;
		opacity: 0;

		.simulation-list__wrapper {
			display: flex;
			flex-direction: column;
			gap: 16px;
			width: 100%;
			max-width: 1206px;
			padding: 32px;
			background-color: var(--dark-200);

			div {
				display: flex;
				gap: 8px;

				p {
					font-size: 12px;
					line-height: 13px;
					color: black;
				}
			}
		}
	}

	// ANIMATION
	.simulation-header {
		&.show {
			.simulation-title,
			.simulation-sub-title {
				animation: fadeUpScale 0.3s linear forwards;
			}

			.simulation-des {
				animation: fadeUpScale 0.3s linear forwards;
				animation-delay: 0.15s;
			}
		}
	}

	.simulation-result-wrapper {
		&.show {
			animation: fadeUpScale 0.3s linear forwards;
		}
	}

	.simulation-form {
		&.show {
			.item {
				animation: fadeUpScale 0.3s linear forwards;
			}
		}
	}

	.simulation-button,
	.simulation-order,
	.simulation-list {
		&.show {
			opacity: 1;
			animation: fadeUpScale 0.3s linear forwards;
		}
	}

	// RESPONSIVE
	@media (max-width: 1200px) {
		.simulation-form {
			padding: 12px;
		}

		.simulation-result-wrapper {
			.simulation-result {
				.simulation-result__content {
					padding: 38px 23px 40px 23px;
				}

				.simulation-result__campaign {
					padding: 40px 23px 38px 23px;

					.body {
						gap: 16px;

						.item {
							padding: 39px 12px;
						}
					}
				}
			}
		}
	}

	@media (max-width: 1100px) {
		.simulation-form {
			padding: 12px;
		}

		.simulation-result-wrapper {
			.simulation-result {
				.simulation-result__campaign {
					.body {
						.item {
							.item-title {
								p {
									font-size: 27px;
								}
							}

							.item-general {
								.item-general__line {
									.medium {
										font-size: 19px;
									}

									.large {
										font-size: 43px;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	@media (max-width: 1024px) {
		padding: 0 0 5px 0;

		.simulation-header {
			padding: 55px 12px 30px 12px;
			margin: 0;
			background-color: var(--blue-400);

			.simulation-title {
				font-size: clamp(16px, 4.2vw, 32px);
				line-height: clamp(12px, 3vw, 23px);
				margin-bottom: 12px;
			}

			.simulation-sub-title {
				height: clamp(24px, 6.2vw, 47px);
				margin-bottom: 15px;

				p {
					font-size: clamp(32px, 8.5vw, 64px);
					line-height: clamp(32px, 8.5vw, 64px);
				}
			}

			.simulation-des {
				font-size: clamp(13px, 3.4vw, 26px);
				line-height: clamp(9px, 2.4vw, 18px);
			}
		}

		.simulation-form {
			grid-template-columns: 1fr;
			gap: 5px;
			padding: 0 15px 15px 15px;
			margin-bottom: 8px;
			border-radius: 0 0 16px 16px;

			.arrow {
				transform: rotate(90deg);
				width: 24px;
				margin: 0 auto;
				aspect-ratio: 24/16;
			}

			.item {
				gap: 16px;
				padding: 16px;

				.item-header {
					gap: 12px;

					.item-header__title {
						font-size: clamp(13px, 3.4vw, 26px);
						line-height: clamp(9px, 2.4vw, 18px);
					}

					.item-header__des {
						font-size: clamp(15px, 4vw, 30px);
						line-height: clamp(11px, 2.9vw, 22px);
						color: var(--neutral-800);
					}
				}

				.item-body {
					gap: 12px;

					.item-body__value {
						gap: 12px;
						padding: 18px 12px;

						.item-body__checkbox {
							width: 18px;
							height: 18px;
						}

						.item-body__content {
							gap: 9px;

							.small {
								font-size: clamp(11px, 2.9vw, 21px);
								line-height: clamp(8px, 2vw, 15px);
							}

							.medium {
								font-size: clamp(15px, 4vw, 30px);
								line-height: clamp(11px, 2.9vw, 22px);
							}
						}

						.item-body__image {
							width: 41px;
						}

						&:last-child {
							gap: 8px;
						}
					}
				}
			}
		}

		.simulation-arrow {
			width: 6px;
			height: 28px;
			margin-bottom: 24px;
		}

		.simulation-result-wrapper {
			padding: 0 15px;
			margin-bottom: 32px;

			.simulation-result-header {
				font-size: clamp(14px, 3.7vw, 28px);
				line-height: clamp(19px, 5vw, 38px);
				margin-bottom: 16px;
			}

			.simulation-result {
				.simulation-result__content {
					padding: 19px 15px;

					.header-wrapper {
						flex-direction: column;
						align-items: flex-start;
						gap: 24px;
						padding-bottom: 16px;
						margin-bottom: 16px;

						.header-title {
							font-size: clamp(14px, 3.7vw, 28px);
							line-height: clamp(11px, 2.9vw, 21px);
						}

						.header-wrapper__method {
							justify-content: space-between;
							gap: 0;
							width: 100%;

							div {
								gap: 3px;

								img {
									width: 12px;
									height: 12px;
								}

								p {
									font-size: clamp(12px, 3.2vw, 24px);
									line-height: clamp(9px, 2.4vw, 18px);
								}
							}
						}
					}

					.tag-wrapper {
						display: flex;
						justify-content: space-between;
						align-items: center;
						width: 100%;

						.tag-wrapper__title {
							font-size: clamp(13px, 3.4vw, 26px);
							line-height: clamp(10px, 2.5vw, 19px);
						}

						.tag-wrapper__button {
							button {
								width: max-content;
								height: max-content;
								padding: 12px 13px;
								font-size: clamp(13px, 3.4vw, 26px);
								line-height: clamp(10px, 2.5vw, 19px);
							}
						}
					}

					.body {
						justify-content: space-between;
						gap: 0;
						padding: 25px 17px;
						margin-bottom: 9px;
						background-color: var(--blue-400);

						span {
							min-width: 2px;
						}

						.item {
							gap: 8px;
							width: max-content;
							margin: 0 auto;

							.item-title {
								font-size: clamp(11px, 2.9vw, 21px);
								line-height: clamp(8px, 2vw, 15px);
							}

							.item-price {
								letter-spacing: -0.03px;

								.small {
									transform: translateY(10%);
									font-size: clamp(17px, 2.9vw, 34px);
									line-height: clamp(24px, 6.4vw, 48px);
									letter-spacing: -0.03px;
								}

								.medium {
									font-size: clamp(34px, 9vw, 67px);
									line-height: clamp(24px, 6.4vw, 48px);
									letter-spacing: -0.03px;
								}
							}
						}
					}

					.open-price {
						gap: 7px;

						div {
							padding-bottom: 2px;

							p {
								font-size: clamp(12px, 3.2vw, 24px);
								line-height: clamp(9px, 2.4vw, 18px);
							}
						}

						img {
							width: 12px;
							height: 10px;
						}

						&:hover {
							div {
								span {
									animation: revealWidth 0.3s linear forwards;
								}
							}
						}
					}
				}

				.simulation-result__campaign {
					gap: 24px;
					padding: 20px 0;

					.title {
						margin-left: 24px;
						font-size: clamp(14px, 3.7vw, 28px);
						line-height: clamp(11px, 2.9vw, 21px);
					}

					.body {
						display: none;
					}

					.body--mobile {
						display: block;
						width: 100%;
						padding: 0 24px;

						.item {
							gap: 8px;
							height: auto;
							padding: 20px 0;

							.item-label {
								transform: translateY(-50%) translateX(-8px);
								height: 25px;
							}

							.item-title {
								padding-bottom: 8px;

								p {
									font-size: clamp(20px, 5.3vw, 40px);
									line-height: clamp(15px, 3.8vw, 29px);
								}
							}

							.item-des {
								height: max-content;
								padding: 0 10px;
								font-size: clamp(14px, 3.7vw, 28px);
								line-height: clamp(14px, 3.7vw, 28px);
								font-weight: 700;
								color: black;
								text-align: center;
							}

							.item-general {
								.small {
									font-size: clamp(11px, 2.9vw, 21px);
									line-height: clamp(8px, 2vw, 15px);
								}

								.medium {
									font-size: clamp(18px, 4.8vw, 36px);
									line-height: clamp(13px, 3.4vw, 26px);
								}

								.large {
									font-size: clamp(42px, 11.2vw, 84px);
									line-height: clamp(30px, 8vw, 60px);
									letter-spacing: -0.03em;
								}
							}
						}
					}
				}
			}
		}

		.simulation-button {
			gap: 10px;
			width: 100%;
			padding: 0 33px;
			margin-bottom: 32px;

			a {
				justify-content: center;
				width: 100%;
				margin: 0;
			}
		}

		.simulation-order {
			gap: 8px;
			padding: 0 15px;
			margin-bottom: 16px;

			div {
				gap: 5px;

				span {
					transform: translateY(3%);
					width: max-content;
					font-size: clamp(10px, 2.6vw, 20px);
					line-height: clamp(8px, 2vw, 15px);
					color: var(--neutral-700);
				}

				p {
					font-size: clamp(10px, 2.6vw, 20px);
					line-height: clamp(10px, 2.6vw, 20px);
					color: var(--neutral-700);
				}
			}
		}

		.simulation-list {
			padding: 0 15px;

			.simulation-list__wrapper {
				gap: 8px;
				padding: 16px;

				div {
					gap: 4px;

					p {
						font-size: clamp(10px, 2.6vw, 20px);
						line-height: clamp(8px, 2vw, 15px);
						color: var(--neutral-700);
					}

					a {
						color: var(--neutral-700);
					}

					p:first-child {
						transform: translateY(3%);
					}

					p:last-child {
						line-height: clamp(12px, 3.2vw, 24px);
					}
				}
			}
		}
	}
}
