.step {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 48px;
	width: 100%;
	max-width: 2000px;
	padding: 80px 10px;
	background: linear-gradient(90deg, #d9e6ff 0%, #d9ffec 100%);

	.step-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 48px;

		.step-title {
			display: flex;
			flex-direction: column;
			align-items: center;
			opacity: 0;

			.title {
				margin-bottom: 24px;
				font-size: 32px;
				line-height: 23px;

				span {
					font-size: 48px;
					line-height: 34px;
				}
			}

			.sub-title {
				margin-bottom: 22px;
				font-size: 48px;
				line-height: 35px;
			}

			.line {
				width: 27px;
				height: 2px;
				background-color: var(--blue-100);
			}
		}

		.step-des {
			font-size: 18px;
			height: 13px;
			opacity: 0;
		}
	}

	.step-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;
		width: 100%;

		.step-content__header {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			width: 100%;
			max-width: 720px;
			height: 44px;
			background-color: white;
			border-radius: 999px;
			opacity: 0;

			button {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				font-size: 16px;
				line-height: 12px;
				border-radius: 999px;
				cursor: pointer;

				&.active {
					color: white;
					background: linear-gradient(
						90deg,
						#2c6fff 0%,
						#372cff 50%,
						#2ca7ff 100%
					);
				}
			}
		}

		.step-content__body {
			display: none;
			grid-template-columns: 209fr 8px 209fr 8px 209fr 8px 209fr 8px 209fr;
			align-items: center;
			gap: 8px;
			width: 100%;
			max-width: 1206px;
			padding: 32px;
			background-color: var(--blue-600);
			border-radius: 16px;
			opacity: 0;

			.arrow {
				aspect-ratio: 8/16;
			}

			.item {
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;
				height: 100%;
				padding: 28px 12px;
				background-color: white;
				border: 4px solid white;
				border-radius: 16px;
				box-shadow: 0 0 16px 0 rgba(43, 60, 170, 0.1);

				.item-step {
					width: 70px;
					height: 26px;
					margin-bottom: 24px;
				}

				.item-icon {
					height: 40px;
					margin-bottom: 24px;
				}

				.item-title {
					margin-bottom: 16px;
					font-size: 18px;
					line-height: 13px;
					font-weight: 700;
					color: black;
					text-align: center;
				}

				.item-des {
					font-size: 16px;
					line-height: 17.3px;
					color: black;
					text-align: center;
				}

				.item-badge {
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateY(-21px) translateX(-50%);
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 130px;
					height: 47px;
					padding: 8px 16px 0 16px;

					img {
						position: absolute;
						top: 0;
						left: 0;
						z-index: 0;
						width: 100%;
						height: 100%;
					}

					p {
						position: relative;
						z-index: 1;
						font-size: 12px;
						line-height: 12px;
						font-weight: 700;
						font-style: italic;
						color: white;
						letter-spacing: -0.04em;
					}

					.top {
						transform: translateY(-3px);
					}

					.bottom {
						transform: translateX(-3px);
					}
				}

				&.highlight {
					border: 4px solid var(--red-100);

					.item-title,
					.item-mobile__title {
						color: var(--red-100) !important;
					}

					.item-des {
						font-weight: 700;
					}
				}
			}

			.item-mobile {
				display: none;
			}

			&.step-content__body-move-1,
			&.step-content__body-move-2 {
				.item {
					.item-title-4 {
						font-size: 18px;
						line-height: 125%;
					}
				}
			}
		}
	}

	.step-detail {
		display: none;
		font-size: 14px;
		height: 10px;
	}

	.step-list {
		display: flex;
		flex-direction: column;
		gap: 16px;
		width: 100%;
		max-width: 1206px;
		padding: 32px;
		background-color: var(--dark-200);

		div {
			display: flex;
			gap: 8px;

			p {
				font-size: 12px;
				line-height: 9px;
				color: black;
			}
		}
	}

	&[data-type="feature"] {
		.step-content {
			.step-content__body-feature {
				display: grid;
			}
		}

		.step-detail-feature {
			display: block;
		}
	}

	&[data-type="move1"] {
		.step-content {
			.step-content__body-move-1 {
				display: grid;
			}
		}

		.step-detail-move1 {
			display: block;
		}
	}

	&[data-type="move2"] {
		.step-content {
			.step-content__body-move-2 {
				display: grid;
			}
		}

		.step-detail-move2 {
			display: block;
		}
	}

	// ANIMATION
	.step-header {
		&.show {
			.step-title {
				animation: fadeUpScale 0.3s linear forwards;
			}

			.step-des {
				animation: fadeUpScale 0.3s linear forwards;
				animation-delay: 0.15s;
			}
		}
	}

	.step-content {
		&.show {
			.step-content__header {
				animation: fadeUpScale 0.3s linear forwards;
			}

			.step-content__body {
				animation: fadeUpScale 0.3s linear forwards;
				animation-delay: 0.15s;
			}
		}

		&.show-slower {
			.step-content__body {
				animation: fadeUpScale 0.3s linear forwards !important;
			}
		}
	}

	// RESPONSIVE
	@media (max-width: 1200px) {
		.step-content {
			.step-content__body {
				gap: 4px;
				padding: 16px;
			}
		}
	}

	@media (max-width: 1100px) {
		.step-content {
			.step-content__body {
				grid-template-columns: 1fr;
				gap: 8px;

				.arrow {
					transform: rotate(90deg);
					width: 16px;
					height: 32px;
					margin: 0 auto;
				}
			}
		}
	}

	@media (max-width: 1024px) {
		gap: 24px;
		padding: 40px 15px;

		.step-header {
			gap: 24px;

			.step-title {
				.title {
					margin-bottom: 12px;
					font-size: clamp(16px, 4.2vw, 32px);
					line-height: clamp(12px, 3vw, 23px);

					span {
						font-size: clamp(24px, 6.4vw, 48px);
						line-height: clamp(17px, 4.5vw, 34px);
					}
				}

				.sub-title {
					margin-bottom: 11px;
					font-size: clamp(24px, 6.4vw, 48px);
					line-height: clamp(18px, 4.6vw, 35px);
				}

				.line {
					width: 27px;
					height: 2px;
					background-color: var(--blue-100);
				}
			}

			.step-des {
				max-width: 51.1%;
				height: max-content;
				font-size: clamp(13px, 3.4vw, 26px);
				line-height: clamp(15px, 3.8vw, 29px);
			}
		}

		.step-content {
			gap: 8px;

			.step-content__header {
				display: grid;
				grid-template-columns: 1fr;
				gap: 5px;
				height: max-content;
				background-color: transparent;

				button {
					height: max-content;
					padding: 9px 0;
					font-size: clamp(13px, 3.4vw, 26px);
					line-height: clamp(10px, 2.5vw, 19px);
					background-color: white;
				}
			}

			.step-content__body {
				grid-template-columns: 1fr;
				align-items: center;
				gap: 8px;
				padding: 16px;

				.arrow {
					width: 32px;
					height: 16px;
					aspect-ratio: auto;
				}

				.item {
					padding: 16px 20px;

					.item-icon,
					.item-badge,
					.item-des,
					.item-title,
					.item-step {
						display: none;
					}

					.item-mobile {
						display: flex;
						align-items: center;
						gap: 20px;
						width: 100%;

						.item-mobile__icon {
							width: 30px;
							height: 30px;
						}

						.item-mobile__content {
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							gap: 8px;

							div {
								display: flex;
								align-items: center;
								gap: 5px;

								.item-mobile__step {
									width: 53px;
									height: 20px;
								}

								.item-mobile__title {
									font-size: clamp(14px, 3.6vw, 27px);
									line-height: clamp(10px, 2.6vw, 20px);
									font-weight: 700;
									color: var(--neutral-800);
								}
							}

							.item-mobile__des {
								font-size: clamp(12px, 3.2vw, 24px);
								line-height: clamp(12px, 3.2vw, 24px);
								color: black;
							}
						}
					}

					.item-badge {
						display: none;
					}
				}
			}
		}

		.step-detail {
			height: max-content;
			font-size: clamp(10px, 2.6vw, 20px);
			line-height: clamp(10px, 2.6vw, 20px);
			color: var(--neutral-700);

			span {
				color: var(--neutral-700);
			}
		}

		.step-list {
			gap: 8px;
			padding: 16px;

			div {
				display: flex;
				gap: 5px;

				p {
					font-size: clamp(10px, 2.6vw, 20px);
					line-height: clamp(10px, 2.6vw, 20px);
					color: var(--neutral-700);
				}
			}
		}
	}
}
