@use "root";
@use "animation";
@use "button";
@use "modal";
@use "header";
@use "banner";
@use "promotion";
@use "form";
@use "service";
@use "conversion";
@use "intro-point";
@use "intro-scene";
@use "feature";
@use "simulation";
@use "select";
@use "response";
@use "campaign";
@use "step";
@use "faq";
@use "swiper";
@use "footer";

* {
	margin: 0;
	padding: 0;
	color: white;
	outline: none;
	list-style: none;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
}

button {
	background-color: transparent;
}

body {
	font-family: "Noto Sans JP", sans-serif;
	overflow-x: hidden;
}

main {
	position: relative;
	z-index: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	// overflow: hidden;
}

.font-roboto {
	font-family: "Roboto", sans-serif;
}

.font-noto {
	font-family: "Noto Sans JP", sans-serif;
}

.font-italic {
	font-style: italic;
}

.text-red-100 {
	color: var(--red-100);
}

.text-black {
	color: black;
}

.text-neutral-200 {
	color: var(--neutral-200);
}

.text-blue-100 {
	color: var(--blue-100);
}

.font-medium {
	font-weight: 500;
}

.font-bold {
	font-weight: 700;
}

.font-extra-bold {
	font-weight: 800;
}

.font-black {
	font-weight: 900;
}

.text-gradient-blue {
	display: inline-block;
	color: transparent;
	background: linear-gradient(to right, #2c6fff 0%, #372cff 50%, #2ca7ff 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.overflow-hidden {
	overflow: hidden;
}

.pointer-events-none {
	pointer-events: none;
}

.box-shadow-blue {
	box-shadow: 0px 0px 16px 0px rgba(43, 60, 170, 0.1);
}
